﻿@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - Project</title>
    <link href="~/css/plugins.bundle.css" rel="stylesheet" />
    <link href="~/css/style.bundle.css" rel="stylesheet" />
    <link href="~/dist/white.css" rel="stylesheet" />
   
</head>
<body id="kt_body" class="@ViewData["BodyClass"]" style="background-image: url('../img/bg-3.jpg'); background-color: #23262F;">


    @RenderBody()

    <script src="~/js/plugins.bundle.js"></script>

    <script src="~/js/scripts.bundle.js"></script>
    <script src="~/dist/main.js"></script>
    <script>
        $(document).ready(function () {
            const BASE_URL = $('base[ href ]').attr('href');
            const $_SELECT_PICKER = $('.language-picker');

            $_SELECT_PICKER.find('option').each((idx, elem) => {
                const $OPTION = $(elem);
                const IMAGE_URL = $OPTION.attr('data-thumbnail');
                if (IMAGE_URL) {
                    $OPTION.attr('data-content', "<img src='%i'/> %s".replace(/%i/, IMAGE_URL).replace(/%s/, $OPTION.text()))
                }

                console.warn('option:', idx, $OPTION)
            });

            $_SELECT_PICKER.selectpicker({
                width: 180,
                styleBase: 'btn select-custom'
            });
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
