﻿@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - Project - Hệ Thống Quản Lý Bảo Trì - Bảo Dưỡng</title>

    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=vietnamese" rel="stylesheet"> /statics/images/logo.svg*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/css/plugins.bundle.css" rel="stylesheet" />
    <link href="~/css/style.bundle.css" rel="stylesheet" />
    <link href="~/dist/white.css" rel="stylesheet" />
    <link rel="icon" href="/statics/images/logo.ico" id="favicon" />

</head>

<!-- begin:: Header Mobile -->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed @ViewData["BodyClass"]" style="--kt-toolbar-height:0px;--kt-toolbar-height-tablet-and-mobile:55px">
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Aside-->
            @await Html.PartialAsync("/Views/Shared/Aside.cshtml")

            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--begin::Header-->
                <div class="menu-add-js">
                    @await Component.InvokeAsync("Header")
                </div>
                <div class="menu-mobi">
                    @await Html.PartialAsync("/Views/Shared/MenuMobi.cshtml")
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content" style="background: #23262F;">
                    <!--begin::Toolbar-->
                    <!--<div class="toolbar" id="kt_toolbar">-->
                    <!--begin::Container-->
                    <!--<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">-->
                    <!--begin::Page title-->
                    <!--<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">-->
                    <!--begin::Title-->
                    <!--end::Title-->
                    <!--</div>-->
                    <!--end::Page title-->
                    <!--begin::Actions-->
                    <!--end::Actions-->
                    <!--</div>-->
                    <!--end::Container-->
                    <!--</div>-->
                    <!--end::Toolbar-->
                    <!--begin::Post-->
                    <div class="post d-flex flex-column-fluid" id="kt_post">
                        <!--begin::Container-->
                        @RenderBody()
                        <!--end::Container-->
                    </div>
                    <!--end::Post-->
                </div>
                <!--end::Content-->
                <!--begin::Footer-->
                @*@await Html.PartialAsync("/Views/Shared/Footer.cshtml")*@
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
        <!--end::Modal - Invite Friend-->
        <!--begin::Modal - Create App-->
        <!--end::Modal - Create App-->
        <!--begin::Modal - Upgrade plan-->
        <!--end::Modal - Upgrade plan-->
        <!--end::Modals-->
        <!--begin::Scrolltop-->
        <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
            <!--begin::Svg Icon | path: icons/duotone/Navigation/Up-2.svg-->
            <span class="svg-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <rect fill="#000000" opacity="0.5" x="11" y="10" width="2" height="10" rx="1" />
                        <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
                    </g>
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
    </div>
    <!--end::Scrolltop-->
    <!--end::Main-->
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->

    <script src="~/js/plugins.bundle.js"></script>

    <script src="~/js/scripts.bundle.js"></script>


    <!--end::Global Javascript Bundle-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <!--end::Page Custom Javascript-->
    <!--end::Javascript-->

    <script src="~/js/widgets.js"></script>
    <script src="~/js/upgrade-plan.js"></script>
    <script src="~/js/chat.js"></script>
    @*<script src="node_modules/blueimp-file-upload/js/jquery.fileupload.js"></script>*@

    <script src="~/dist/main.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/jQuery.Marquee/1.5.0/jquery.marquee.min.js"></script>*@
    <script>
        $(document).ready(function () {
            if (!$('.lh-loader').hasClass('d-none')) { $('.lh-loader').addClass('d-none'); }

            $('#kt_aside_toggle').on('click', function () {
                if ($(this).attr('data-open') == "true" && $('body').width() > 992) {
                    $('.menu-item').find('.active').css("height", "50px");
                    $('.menu-item').find('.active').css("width", "50px");
                    $(this).attr('data-open', 'false');
                }
                else {
                    $(this).attr('data-open', 'true');
                    $('.menu-item').find('.active').css("height", "auto");
                    $('.menu-item').find('.active').css("width", "auto");
                }

            })

            //$('.marquee_text').marquee({
            //    direction: 'left',
            //    duration: 30000,
            //    gap: 50,
            //    delayBeforeStart: 0,
            //    duplicated: true,
            //    startVisible: true
            //});
            var current = location.pathname;
            var arr = current.split("/");

            $('.menu-column .menu-link').each(function () {
                let $this = $(this);
                let menuHref = ($this.attr(`href`) || "").split("/");
                let arr1 = (arr[1] || '').trim().toLowerCase();
                let arr2 = (arr[2] || '').trim().toLowerCase();
                let menuHref1 = (menuHref[1] || '').trim().toLowerCase();
                let menuHref2 = (menuHref[2] || '').trim().toLowerCase();

                if (menuHref1 == arr1) {
                    if (!$this.hasClass(`active`)) {
                        $this.addClass('active');
                    }
                } else {
                    $this.removeClass('active');
                }
                if (arr1 != '' && arr2 != '' && menuHref1 != '' && menuHref2 != '') {
                    if (`/${menuHref1}/${menuHref2}` == `/${arr1}/${arr2}`) {
                        if (!$this.hasClass(`active`)) {
                            $this.addClass('active');
                        }
                        if ($this.hasClass(`menu-link-sub`)) {
                            if (!$this.parents(`.menu-item.menu-accordion`).find(`.parent-menu`).hasClass(`active`)) {
                                $this.parents(`.menu-item.menu-accordion`).find(`.parent-menu`).addClass('active');
                            }
                            if (!$this.parents(`.menu-item.menu-accordion`).hasClass(`show`)) {
                                $this.parents(`.menu-item.menu-accordion`).addClass('show');
                            }
                        }
                    } else {
                        $this.removeClass('active');
                        if ($this.hasClass(`menu-link-sub`)) {
                            $this.parents(`.menu-item.menu-accordion`).find(`.parent-menu`).removeClass('active');
                            $this.parents(`.menu-item.menu-accordion`).removeClass('show');
                        }
                    }
                }
            })
            const BASE_URL = $('base[ href ]').attr('href');
            const $_SELECT_PICKER = $('.language-picker');

            $_SELECT_PICKER.find('option').each((idx, elem) => {
                const $OPTION = $(elem);
                const IMAGE_URL = $OPTION.attr('data-thumbnail');
                if (IMAGE_URL) {
                    $OPTION.attr('data-content', "<img src='%i'/> %s".replace(/%i/, IMAGE_URL).replace(/%s/, $OPTION.text()))
                }

                console.warn('option:', idx, $OPTION)
            });

            $_SELECT_PICKER.selectpicker({
                width: 180,
                styleBase:'btn select-custom'
            });

        });
      
    </script>
    @RenderSection("scripts", false)
</body>

</html>
