﻿@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["BodyClass"] = "admin-home";
}
<div id="kt_aside" class="aside aside-dark aside-hoverable" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
    <!--begin::Brand-->
    <div class="aside-logo flex-column-auto" id="kt_aside_logo" style="z-index:999">
        <!--begin::Logo-->
        <a href="/" class="d-flex flex-nowrap justify-content-center align-items-center ms-4 w-100" id="is_menu_mobile">
            @*<img src="~/img/logo2.png" class=" logo" />*@
            <img src="~/img/Logo (3).png" />

            <span class="text_logo">
            </span>
        </a>

        <!--end::Logo-->
        <!--begin::Aside toggler-->
        <div id="kt_aside_toggle" data-open="true" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
            <!--begin::Svg Icon | path: icons/duotone/Navigation/Angle-double-left.svg-->
            <span class="svg-icon svg-icon-1 rotate-180">
                @*<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)" />
                            <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.5" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)" />
                        </g>
                    </svg>*@
                <span class="icon_arrow_menu"><i class="ri-arrow-left-s-line"></i></span>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Aside toggler-->
    </div>
    <!--end::Brand-->
    <!--begin::Aside menu-->
    <div class="aside-menu flex-column-fluid">
        <!--begin::Aside Menu-->
        <div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0">
            <!--begin::Menu-->
            <div id="is_menu_mobile" class="language-menu mb-4">
                <div class="col-8 col-md-9 row title-menu-2">
                    @*<div class="dropdown">
                            <button class="btn btn-default dropdown-toggle select-language-v2 w-100" style="border:none;color:white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <img src="~/img/Language/GB.png" />&nbsp;&nbsp; English
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="background-color: #23262F">
                                <li>
                                    <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="en">
                                        <img src="~/img/Language/GB.png" /> &nbsp;&nbsp; English
                                    </a>
                                </li>

                                <li>
                                    <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="zh-CN">
                                        <img src="~/img/Language/CN.png" /> &nbsp;&nbsp; Chinese
                                    </a>
                                </li>

                                <li>
                                    <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="fr">

                                        <img src="~/img/Language/FR.png" />&nbsp;&nbsp; French
                                    </a>
                                </li>

                                <li>
                                    <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="ja">

                                        <img src="~/img/Language/JP.png" />&nbsp;&nbsp; Japanese
                                    </a>
                                </li>
                                <li>
                                    <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="ko">

                                        <img src="~/img/Language/KR.png" />&nbsp;&nbsp; Korean

                                    </a>
                                </li>
                                <li>
                                    <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="es">
                                        <img src="~/img/Language/ES.png" />&nbsp;&nbsp; Spanish
                                    </a>
                                </li>
                                <li>
                                    <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="vi">

                                        <img src="~/img/Language/VN.png" />    &nbsp;&nbsp; Vietnamese
                                    </a>
                                </li>
                                <li>
                                    <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="km">
                                        <img src="~/img/Language/KH.png" />&nbsp;&nbsp; Cambodian
                                    </a>
                                </li>
                                <li>
                                    <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="th">
                                        <img src="~/img/Language/TH.png" />&nbsp;&nbsp; Thai
                                    </a>
                                </li>
                            </ul>

                        </div>*@

                    @{ var requestCulture = Context.Features.Get<IRequestCultureFeature>();
                        var cultureItems = LocOptions.Value.SupportedUICultures
                            .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
                            .ToList();
                        var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
                    }
                    <form id="selectLanguage" asp-controller="Authen"
                          asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
                          method="post" class="form-horizontal" role="form">

                        <select asp-for="@requestCulture.RequestCulture.UICulture.Name" name="culture" onchange="this.form.submit();"
                                asp-name="language-picker-select" id="language-picker-select" class="language-picker">
                            <option lang="vn" value="" data-thumbnail="/img/Language/VN.png"> Vietnamese</option>
                            <option lang="en" value="en-US" data-thumbnail="/img/Language/GB.png"> EngLish</option>
                        </select>
                    </form>

                </div>
            </div>
            <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true">
                <div class="menu-item">
                    <a class="menu-link menu_home" href="/">
                        <span class="menu-icon">
                            <span class="svg-icon svg-icon-2">
                                <i class="ri-dashboard-fill debt_size_i icon__menu"></i>
                            </span>
                        </span>
                        @*Home*@
                        <span class="menu-title">Dashboard</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" href="/TransactionHistory">
                        <span class="menu-icon">
                            <span class="svg-icon svg-icon-2">
                                <i class="ri-exchange-funds-fill debt_size_i icon__menu"></i>
                            </span>
                        </span>
                        <span class="menu-title">
                            @SharedLocalizer["menuTransactionHistory"].Value
                        </span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" href="/report">
                        <span class="menu-icon">
                            <span class="svg-icon svg-icon-2">
                                <i class="ri-bar-chart-2-fill debt_size_i icon__menu"></i>
                            </span>
                        </span>
                        <span class="menu-title">
                            @SharedLocalizer["menuReport"].Value
                        </span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link" href="/System">
                        <span class="menu-icon">
                            <span class="svg-icon svg-icon-2">
                                <i class="ri-settings-4-fill debt_size_i icon__menu"></i>
                            </span>
                        </span>
                        <span class="menu-title">
                            @SharedLocalizer["menuSystemConfig"].Value
                        </span>
                    </a>
                </div>

            </div>
        </div>
        <!--end::Menu-->
    </div>
</div>
<!--end::Aside menu-->
<!--begin::Footer-->
<!--end::Footer-->
