﻿<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-1">©2022</span>
            <a href="" target="_blank" class="text-gray-800 text-hover-primary">Allrights reserved pts.com</a>
        </div>
        <!--end::Copyright-->
        <!--begin::Menu-->
        <!--<ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
            <li class="menu-item">
                <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">English</a>
            </li>-->
        @*<li class="menu-item">
                <a href="https://keenthemes.com/support" target="_blank" class="menu-link px-2">Support</a>
            </li>
            <li class="menu-item">
                <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
            </li>*@
        <!--</ul>-->
        <div class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
            <select class="form-select ver_footer " style="text-align: right; ">
                <option value="1">English</option>
                <option value="2">Vietnamese</option>
            </select>
        </div>
        <!--end::Menu-->
    </div>
    <!--end::Container-->
</div>

@*@section scripts {
        <script>
            console.log(111);
            $(document).ready(e => {
                $(`.form-select`).selectpicker();
            });
        </script>
    }*@
