﻿@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions

<div class="menuMobi" id="kt_aside_toggle" data-open="true">
    <ul class="menu-column ">
        <li class="menu-item">
            <a class="menu-link" href="/" style="padding: 5px 10px !important;">
                <span class="menu-icon">
                    <span class="svg-icon svg-icon-2">
                        <i class="ri-dashboard-fill debt_size_i icon__menu"></i>
                    </span>
                </span>
                @*Home*@
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="/TransactionHistory" style="padding: 5px 10px !important;">
                <span class="menu-icon">
                    <span class="svg-icon svg-icon-2">
                        <i class="ri-exchange-funds-fill debt_size_i icon__menu"></i>
                    </span>
                </span>
                <span class="menu-title">
                    @SharedLocalizer["menuMobiTransactionHistory"].Value
                </span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="/report" style="padding: 5px 10px !important;">
                <span class="menu-icon">
                    <span class="svg-icon svg-icon-2">
                        <i class="ri-bar-chart-2-fill debt_size_i icon__menu"></i>
                    </span>
                </span>
                <span class="menu-title">
                    @SharedLocalizer["menuMobiReport"].Value
                </span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="/System" style="padding: 5px 10px !important;">
                <span class="menu-icon">
                    <span class="svg-icon svg-icon-2">
                        <i class="ri-settings-4-fill debt_size_i icon__menu"></i>
                    </span>
                </span>
                <span class="menu-title">
                    @SharedLocalizer["menuMobiSystem"].Value
                </span>
            </a>
        </li>
    </ul>
</div>