﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewData["Title"] = "System";
}

<div class="w-100 h-100">
    <div class="p-8 mx-4 h-100" style="background-color:#141416; border-radius:8px">
        <div class="mb-6" style="font-weight: 600; font-size: 24px; color: #FCFCFD;">
            @SharedLocalizer["menuSystemConfig"].Value
        </div>
        <div>
            <p style="font-weight: 600; font-size: 16px; line-height: 24px;color: #FCFCFD;">
                @SharedLocalizer["TextTransfer"].Value
            </p>
            <div class="row mb-4">
                <div class="col-12 col-md-6 mb-4 mb-lg-0">
                    <div style="background: #23262F;border-radius: 8px; padding:24px">
                        <p class="text-center" style="font-size: 16px; line-height: 24px;color: #F07953;">TLP nội bộ</p>
                        <div class="d-flex align-items-center mb-4">
                            <p class="col-4 col-md-2 d-flex justify-content-center" style="color:#FFFFFF">TLP -> LKP</p>
                            <input class="form-control ver_2" type="number" min="1" placeholder="0" style="background-color:#353945; color:#777E90;" />
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <p class="col-4 col-md-2 d-flex justify-content-center" style="color:#FFFFFF">LKP -> TLP</p>
                            <input class="form-control ver_2" type="number" min="1" placeholder="0" style="background-color:#353945; color:#777E90;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4 mb-lg-0">
                    <div style="background: #23262F;border-radius: 8px; padding:24px">
                        <p class="text-center" style="font-size: 16px; line-height: 24px;color: #F07953;">Quy đổi TLP</p>
                        <div class="d-flex align-items-center mb-4">
                            <p class="col-4 col-md-2 d-flex justify-content-center" style="color:#FFFFFF">LKP -> LKC</p>
                            <input class="form-control ver_2" type="number" min="1" placeholder="0" style="background-color:#353945; color:#777E90;" />
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <p class="col-4 col-md-2 d-flex justify-content-center" style="color:#FFFFFF">LKC -> LKP</p>
                            <input class="form-control ver_2" type="number" min="1" placeholder="0" style="background-color:#353945; color:#777E90;" />
                        </div>
                    </div>
                </div>
            </div>
            <p style="font-weight: 600; font-size: 16px; line-height: 24px;color: #FCFCFD;">
                @SharedLocalizer["TextConversion"].Value
            </p>
            <div class="row mb-4">
                <div class="col-12 col-md-6 mb-4 mb-lg-0">
                    <div style="background: #23262F;border-radius: 8px; padding:24px">
                        <div class="d-flex align-items-center mb-4 row">
                            <div class="col-5">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control class_search ps-18" style="background-color: #353945; border: 1px solid #353945;color:#fff;" value="" placeholder="1" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span style="padding-left: 10px; padding-right:10px; color:#fff;border:1px solid #5A5E69;box-sizing: border-box;border-radius: 8px;">TLP</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-2 text-center"><i class="ri-exchange-line" style="font-size:25px;"></i></div>
                            <div class="col-5">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control class_search" style="background-color: #353945; border: 1px solid #353945;color:#fff; padding-right:58.5px" value="" placeholder="1" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                        <span style="padding-left: 10px; padding-right:10px; color:#fff;border:1px solid #5A5E69;box-sizing: border-box;border-radius: 8px;">LKP</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-4 row">
                            <div class="col-5">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control class_search ps-18" style="background-color: #353945; border: 1px solid #353945;color:#fff;" value="" placeholder="1" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span style="padding-left: 10px; padding-right:10px; color:#fff;border:1px solid #5A5E69;box-sizing: border-box;border-radius: 8px;">LKP</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-2 text-center"><i class="ri-exchange-line" style="font-size:25px;"></i></div>
                            <div class="col-5">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control class_search" style="background-color: #353945; border: 1px solid #353945;color:#fff; padding-right:58.5px" value="" placeholder="1" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                        <span style="padding-left: 10px; padding-right:10px; color:#fff;border:1px solid #5A5E69;box-sizing: border-box;border-radius: 8px;">TLP</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4 mb-lg-0">
                    <div style="background: #23262F;border-radius: 8px; padding:24px">
                        <div class="d-flex align-items-center mb-4 row">
                            <div class="col-5">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control class_search ps-18" style="background-color: #353945; border: 1px solid #353945;color:#fff;" value="" placeholder="1" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span style="padding-left: 10px; padding-right:10px; color:#fff;border:1px solid #5A5E69;box-sizing: border-box;border-radius: 8px;">LKC</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-2 text-center"><i class="ri-exchange-line" style="font-size:25px;"></i></div>
                            <div class="col-5">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control class_search" style="background-color: #353945; border: 1px solid #353945;color:#fff; padding-right:58.5px" value="" placeholder="1" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                        <span style="padding-left: 10px; padding-right:10px; color:#fff;border:1px solid #5A5E69;box-sizing: border-box;border-radius: 8px;">LKP</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-4 row">
                            <div class="col-5">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control class_search ps-18" style="background-color: #353945; border: 1px solid #353945;color:#fff;" value="" placeholder="1" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span style="padding-left: 10px; padding-right:10px; color:#fff;border:1px solid #5A5E69;box-sizing: border-box;border-radius: 8px;">LKP</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-2 text-center"><i class="ri-exchange-line" style="font-size:25px;"></i></div>
                            <div class="col-5">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control class_search" style="background-color: #353945; border: 1px solid #353945;color:#fff; padding-right:58.5px" value="" placeholder="1 " />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                        <span style="padding-left: 10px; padding-right:10px; color:#fff;border:1px solid #5A5E69;box-sizing: border-box;border-radius: 8px;">LKC</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success mt-4 mb-4" style="float:right;background: linear-gradient(180deg, #71D434 0%, #2E9124 100%);border-radius: 8px;">@SharedLocalizer["btnSaveChange"].Value</button>
        </div>
    </div>

</div>
