﻿@*@{
        Layout = null;
        ViewData["Title"] = "Change Password";
    }

    <form method="post" id="form_Change_password" onsubmit="return false">
        <div class="content-model">
            <div class="row">
                <div class="form-group col-12">
                    <label class="mb-4"><strong>Current Password:</strong><span class="text-danger fw-bold ms-2">*</span></label>
                    <input type="password" class="form-control" name="password" />
                </div>
                <div class="form-group col-12 pt-3">
                    <label class="mb-4"><strong>New Password:</strong><span class="text-danger fw-bold ms-2">*</span></label>
                    <input type="password" class="form-control" name="newPassword" id="newPassword"/>
                </div>
                <div class="form-group col-12 pt-3">
                    <label class="mb-4"><strong>New Confirm Password:</strong><span class="text-danger fw-bold ms-2">*</span></label>
                    <input type="password" class="form-control"  name="newConfirmPassword"/>
                </div>

            </div>

            <input id="submit_handle" type="submit" style="display: none">
            <div style="display:flex;justify-content:center" class="pt-5">
                <button class="btn btn-sm recepits-btn-close" style="margin-right: 16px; background-color: aliceblue;">Hủy bỏ</button>
                <button type="button" class="btn btn-submit btn-icon-sm " id="btn-Change_password" style="background-color: #92D59C" >Áp dụng</button>
            </div>
        </div>
    </form>*@


@model ProjectAdmin.Models.LoginModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    ViewData["BodyClass"] = "authen_changePassword";
    Layout = null;
}

<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - forgotPassword -->
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(assets/media/illustrations/progress-hd.png)">
        <!--begin::Content-->
        <div class="d-flex flex-center flex-column flex-column-fluid pb-lg-20">
            <!--begin::Logo-->
            <!--end::Logo-->
            <!--begin::Wrapper-->
            <div class="w-100 authen_box" style="padding:20px 32px">
                <!--begin::Form-->
                <form class="form " id="authen_forgot_form" onsubmit="return false;">
                    <!--begin::Heading-->
                   
                  
                    <!--begin::Heading-->
                    <!--begin::Input group-->
                    <div class="form-group mb-6">
                        <label class="form-label text_label">
                            Old password
                        </label>
                        @*<input class="form-control ver_2" type="email" name="email" placeholder="Nhập mật khẩu mới" />*@
                        <div class="input-group ver_2 mb-2">
                            <input type="password" class="form-control showHidePassInput" id="passOldStr" name="passOldStr" autocomplete="off" placeholder="Enter your old password
">
                            <div class="input-group-apppend">
                                <i class="ri-eye-line" style="display:none;"></i>
                                <i class="ri-eye-off-line"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-6">
                        <label class="form-label text_label">
                            New password
                        </label>
                        @*<input class="form-control ver_2" type="email" name="email" placeholder="Nhập mật khẩu mới" />*@
                        <div class="input-group ver_2 mb-2">
                            <input type="password" class="form-control showHidePassInput" id="passNewStr" name="passNewStr" autocomplete="off" placeholder="Enter your new password
">
                            <div class="input-group-apppend">
                                <i class="ri-eye-line" style="display:none;"></i>
                                <i class="ri-eye-off-line"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-10">
                        <label class="form-label text_label">
                            Confirm password
                        </label>
                        @*<input class="form-control ver_2" type="email" name="email" placeholder="Nhập lại mật khẩu mới" />*@
                        <div class="input-group ver_2 mb-2">
                            <input type="password" class="form-control showHidePassInput" id="newConfirmPassword" name="newConfirmPassword" autocomplete="off" placeholder="Enter a new password">
                            <div class="input-group-apppend">
                                <i class="ri-eye-line" style="display:none;"></i>
                                <i class="ri-eye-off-line"></i>
                            </div>
                        </div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="text-center" style="display:flex">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" style="width:100%"></div>
                        <!--begin::Submit button-->
                        <button type="button" class="btn btn-lg btn-success ver_2 w-100 recepits-btn-close" style="margin: 5px; background: #fff; color: black; border: 1px solid #EBEEF4; ">
                            <span class="indicator-label">
                                Close
                            </span>
                        </button>
                        <button type="submit" class="btn btn-lg btn-success ver_2 w-100" style="margin:5px">
                            <span class="indicator-label">
                                Reset Password
                            </span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>

                        </button>

                        <!--end::Submit button-->
                        <!--begin::Separator-->
                        <!--end::Google link-->
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Authentication - forgotPassword-->
</div>
