﻿@model ProjectAdmin.Models.LoginModel
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewData["Title"] = "Đăng nhập";
    ViewData["BodyClass"] = "authen_forgotPassword";
    Layout = "_AuthenLayout";
}

<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - forgotPassword -->
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(assets/media/illustrations/progress-hd.png)">
        <!--begin::Content-->
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
            <!--begin::Logo-->
            <!--end::Logo-->
            <!--begin::Wrapper-->
            <div class="w-lg-450px mx-auto authen_box">
                <!--begin::Form-->
                <form class="form w-100" id="authen_forgot_form" onsubmit="return false;">
                    <!--begin::Heading-->
                    <div class="d-flex flex-center flex-nowrap justify-content-start" style="margin-bottom:4px;">
                        <i class="ri-arrow-left-line me-2 color_color-icon cursor-pointer" style="font-size:22px;" onclick="window.location.href = '/authen/login';"></i>
                        <span class="text_1 cursor-pointer" style="color:#B1B5C3" onclick="window.location.href = '/authen/login';"> @SharedLocalizer["textBackToLogin"].Value</span>
                    </div>
                    <div class="text_title" style="margin-bottom:4px; color:#FCFCFD">
                         @SharedLocalizer["textForgotYourPassword"].Value
                    </div>
                    <div class="text_description" style="margin-bottom:24px;color:#FCFCFD">
                        @SharedLocalizer["textTitleForgotYourPassword"].Value
                    </div>
                    <!--begin::Heading-->
                    <!--begin::Input group-->
                    <div class="form-group mb-10">
                        <!--begin::Label-->
                        <label class="form-label text_label" style="color:#B1B5C3">
                            @SharedLocalizer["labelResetPassWord"].Value
                        </label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input class="form-control ver_2" type="email" name="email" placeholder=" @SharedLocalizer["placeholderSendEmail"].Value" style="background-color:#23262F; color:#fff" />
                        <!--end::Input-->
                    </div>
                    <!--begin::Actions-->
                    <div class="text-center">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" style="width:100%"></div>
                        <!--begin::Submit button-->
                        <button type="submit" class="btn btn-lg btn-success ver_2 w-100 mb-5">
                            <span class="indicator-label">
                                @SharedLocalizer["btnSubmitSendEmail"].Value
                            </span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                        <!--end::Submit button-->
                        <!--begin::Separator-->
                        <!--end::Google link-->
                    </div>
                    <div class="text-center text_label" style="color:#B1B5C3">
                        @SharedLocalizer["labelRememberMyPassword"].Value
                        ! <a class="color_color-success cursor-pointer" href="/authen/login">@SharedLocalizer["btnLogin"].Value</a>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Authentication - forgotPassword-->
</div>