﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@model ProjectAdmin.Models.LoginModel
@{
    ViewData["Title"] = "Đăng nhập";
    ViewData["BodyClass"] = "Login";
    Layout = "_AuthenLayout";
}


<div class="d-flex flex-column flex-root">

    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(assets/media/illustrations/progress-hd.png)">
        <!--begin::Content-->
        <div class="p-lg-12 p-md-8 p-4 d-flex justify-content-between">
            <img src="~/img/Logo (3).png" />
            @*<div id="is_menu_mobile" class="language-menu mb-4">
            <div class="col-12 col-md-12 row title-menu-2">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle select-language-v2 w-100" style="border:none;color:white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="~/img/Language/GB.png" />&nbsp;&nbsp; English
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="background-color: #23262F">
                        <li>
                            <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="en">
                                <img src="~/img/Language/GB.png" /> &nbsp;&nbsp; English
                            </a>
                        </li>

                        <li>
                            <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="zh-CN">
                                <img src="~/img/Language/CN.png" /> &nbsp;&nbsp; Chinese
                            </a>
                        </li>

                        <li>
                            <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="fr">

                                <img src="~/img/Language/FR.png" />&nbsp;&nbsp; French
                            </a>
                        </li>

                        <li>
                            <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="ja">

                                <img src="~/img/Language/JP.png" />&nbsp;&nbsp; Japanese
                            </a>
                        </li>
                        <li>
                            <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="ko">

                                <img src="~/img/Language/KR.png" />&nbsp;&nbsp; Korean

                            </a>
                        </li>
                        <li>
                            <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="es">
                                <img src="~/img/Language/ES.png" />&nbsp;&nbsp; Spanish
                            </a>
                        </li>
                        <li>
                            <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="vi">

                                <img src="~/img/Language/VN.png" />    &nbsp;&nbsp; Vietnamese
                            </a>
                        </li>
                        <li>
                            <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="km">
                                <img src="~/img/Language/KH.png" />&nbsp;&nbsp; Cambodian
                            </a>
                        </li>
                        <li>
                            <a style="text-decoration: none !important;" href="#" class="select-language" data-lang="th">
                                <img src="~/img/Language/TH.png" />&nbsp;&nbsp; Thai
                            </a>
                        </li>
                    </ul>

                </div>



            </div>
        </div>*@
            @{ var requestCulture = Context.Features.Get<IRequestCultureFeature>();
                var cultureItems = LocOptions.Value.SupportedUICultures
                    .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
                    .ToList();
                var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
            }
            <form id="selectLanguage" asp-controller="Authen"
                  asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
                  method="post" class="form-horizontal" role="form">

                <select asp-for="@requestCulture.RequestCulture.UICulture.Name" name="culture" onchange="this.form.submit();"
                        asp-name="language-picker-select" id="language-picker-select" class="language-picker">
                    <option lang="vn" value="" data-thumbnail="/img/Language/VN.png"> Vietnamese</option>
                    <option lang="en" value="en-US" data-thumbnail="/img/Language/GB.png"> EngLish</option>
                </select>
            </form>
        </div>
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
            <!--begin::Logo-->
            <!--end::Logo-->
            <!--begin::Wrapper-->

            <div class="w-lg-450px mx-auto authen_box">
                <!--begin::Form-->
                <form class="form w-100" asp-action="Login" asp-controller="Authen" id="kt_sign_in_form">
                    <input name="language" class="language" id="language" hidden/>

                    <!--begin::Heading-->

                    <span style="margin-bottom: 4px;" class="text_1">
                        @SharedLocalizer["textLogin"].Value
                        @*@SharedLocalizer["abc"]*@
                    </span><br />
                    <span class="text_2">
                        @SharedLocalizer["textTitleLogin"].Value
                    </span><br />
                    <div class="text-center mb-10">
                        @*<div class="d-flex align-items-center justify-content-center">
                <img src="~/img/framer.png" />&nbsp;
                <span style="font-size:20px; font-weight:600">FTM Admin</span>
            </div>*@

                        <!--begin::Title-->
                        @*<h1 class="text-dark mb-3 text-uppercase" style="padding-top:15px;font-size:20px;line-height:28px">LogIn</h1>
            <h1 class="text-gray-400" style="padding-top:15px;font-size:14px">Welcome to the system Project. Login to use</h1>*@
                        <!--end::Title-->
                        <!--begin::Link-->
                        <!--end::Link-->
                    </div>
                    <!--begin::Heading-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-10">
                        <!--begin::Label-->
                        <label class="form-label text_3">@SharedLocalizer["labelEmail"].Value</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input class="form-control ver_2" type="text" asp-for="userStr" placeholder="@SharedLocalizer["placeholderEmail"].Value" style="background-color:#23262F; color:#fff;" />
                        <span asp-validation-for="userStr" class="d-block invalid-feedback"></span>
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-10">
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-stack mb-2">
                            <!--begin::Label-->
                            <label class="form-label text_3">@SharedLocalizer["labelPassword"].Value</label>
                            <!--end::Label-->
                            <!--begin::Link-->
                            <!--end::Link-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Input-->
                        <div class="input-group ver_2 mb-2">

                            <input type="password" asp-for="passStr" class="form-control showHidePassInput" id="passStr" autocomplete="off" placeholder="@SharedLocalizer["placeholderPassword"].Value" style="background-color:#23262F; color:#fff;">
                            <div class="input-group-apppend" style="background-color:#23262F; color:#777E90;">
                                <i class="ri-eye-line" style="display:none;"></i>
                                <i class="ri-eye-off-line"></i>
                            </div>
                            @*<input class="form-control form-control-lg form-control-solid placeholder_1" type="password" asp-for="passStr" autocomplete="off" placeholder="Nhập mật khẩu đăng nhập" />*@
                        </div>
                        @*<input class="form-control form-control-lg form-control-solid placeholder_1" type="password" asp-for="passStr" autocomplete="off" placeholder="Nhập mật khẩu đăng nhập" />*@
                        <span asp-validation-for="passStr" class="d-block invalid-feedback"></span>
                        <!--end::Input-->
                    </div>

                    <div class="fv-row mb-10">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <div class="form-check form-switch ver_2">
                                <input class="form-check-input" type="checkbox" id="authen_login_rememberPass">
                                <label class="form-check-label text_6" for="authen_login_rememberPass" style="color:#FCFCFD">
                                    @SharedLocalizer["textRememberPass"].Value
                                </label>
                            </div>

                            <a class="text_5 cursor-pointer " href="/authen/ForgotPassword">
                                @SharedLocalizer["textForgotPassword"].Value
                            </a>
                        </div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="text-center">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" style="width:100%"></div>
                        <!--begin::Submit button-->
                        <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-success ver_2 w-100 mb-5">
                            <span class="indicator-label">@SharedLocalizer["btnLogin"].Value</span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                        <!--end::Submit button-->
                        <!--begin::Separator-->
                        <!--end::Google link-->
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Authentication - Sign-in-->
</div>