﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewData["Title"] = "Detail";
    ViewData["BodyClass"] = "report";
}


<div class="w-100 h-100">
    <div class="p-8 mx-4" style="background-color:#141416; border-radius:8px">
        <div class="mb-6" style="font-weight: 600; font-size: 24px; color: #FCFCFD;">
            @SharedLocalizer["menuReport"].Value / <span style="font-size: 16px;">@SharedLocalizer["menuReportDetail"].Value</span>
        </div>
        <div class="kt-portlet list-index">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="row g-4">
                        <div class="col-md-12">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-2 mb-4 mb-md-0">
                                    <div class="" style="background: #23262F; border-radius: 8px;     padding: 5px 10px;
}">
                                        <img style="width:42px; height:42px" src="~/img/img-aio/avt-add.png" /> &nbsp;
                                        <span style="font-weight: 400; font-size: 16px; line-height: 24px;color: #FCFCFD;">Camvan1511</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 mb-4 mb-md-0">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control class_search ps-12" style="background-color: #23262F; border: 1px solid #23262F;color:#fff" value="" placeholder="  @SharedLocalizer["TextSeachReport"].Value" />
                                        <span class="kt-input-icon__icon kt-input-icon__icon___left">
                                            <span style=" padding-left: 10px;"><i class="ri-search-line search___ticket" style="font-size:24px"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6 col-md-2 mb-4 mb-md-0">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="date" class="form-control class_search ps-12" style="background-color: #23262F; border: 1px solid #23262F;color:#fff;" value="" placeholder="Enter ID or Token name, Point..." />
                                        @*<span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                <span style=" padding-left: 10px;"><i class="ri-calendar-2-line" style="font-size:18px"></i></span>
                                            </span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="kt-portlet__body kt-portlet__body--table">
                <div class="kt-datatable-detail scroll-x"
                     data-kt-scroll="true"
                     data-kt-scroll-height="auto"
                     data-kt-scroll-offset="100px"></div>
                <div class="view-empty">

                </div>
            </div>
        </div>
    </div>
</div>

