﻿
@{
    Layout = null;
}

<form action="/" method="post" id="form_add_app_member">
    <div class="Project_boddy">
        <div class="form-group">
            <label class="mb-3">Thêm admin cho ứng dụng <strong style="color: red">*</strong></label>
            <div style="position: relative;">
                <input id="js-search-app-member" type="text" class="form-control" placeholder="Gõ@để thêm" autocomplete="off">
                <span class="icon__closse">
                    <img class="close-search-customer" src="~/img/menu/close-button.png" style="object-fit: scale-down;display:none;cursor:pointer" />
                </span>
                <div class="content-search-customer conten-search-core" style="display:none;">
                    <div class="cart-search" id="append-customer">
                    </div>
                </div>
            </div>
            <div class="pt-3">
                <input class="form-control form-control-lg form-control-solid lockkey" style="display:none" id="kt_tagify_5" />

            </div>

            @*
        <input type="text" class="form-control mt-4 dropdown-toggle" id="js-search-app-member" placeholder="Gõ@để thêm" name="keyword" value=""
               data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" autocomplete="off" />

        <div class="dropdown-menu overflow-auto content-search-custome p-0" aria-labelledby="js-search-staff" style="overflow-x:hidden; max-height: 184px; width: 400px;">
            @for (var i = 0; i < 10; i++)
            {
                <div class="pt-1">
                    <div class="d-flex-between align-items-center w-100 child-cart-customer px-4 select-staff-incustomer">
                        <div class="d-flex-start align-items-center dis-cart-cus me-2">
                            <img style="border-radius: 50%;" class="avatar-customer me-2" height="32" width="32" data-avatar="~/img/Ellipse 12.png" src="~/img/img-Project/Rectangle 1852.png" />
                            <div class="main-text">
                                Lê Thanh Liêm
                                <div class="color_grays"> a@liemlt.597</div>
                            </div>

                        </div>

                        <div class="end-cart">
                            <lable class="data-jd">Giám đốc</lable>
                        </div>
                    </div>
                    <hr class="mx-3" />
                </div>
            }
        </div>*@
        </div>
    </div>
    <div style="display:flex;justify-content:center" class="pt-5">
        <button type="button" class="btn btn-white btn-icon-sm me-2 mb-2 close_btn">Hủy bỏ</button>
        <button type="submit" class="btn btn-submit btn-icon-sm me-2 mb-2">Lưu tùy chọn</button>
    </div>
</form>
