﻿
@{
    ViewData["Title"] = "";
    ViewData["BodyClass"] = "dmms-applicatons-member";
}

<div class="kt_container_core">
    <div class="row">
        <div class="col-md-2">
            <select class="form-select table_control_form" aria-label="Select example">
                <option>Vị trí</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-select table_control_form" aria-label="Select example">
                <option>Vai trò</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-6">
            <div class="kt-input-icon">
                <input id="js-filter-keyword" type="text" name="keyword" class="form-control class_search" style="background-color:#fff;padding-left: 24px;" value="" placeholder="Tìm kiếm theo tên, email, số điện thoại, phòng ban, vị trí..." />
                <span class="kt-input-icon__icon kt-input-icon__icon___left">
                    <span><i class="la la-search search___ticket"></i></span>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-custom-tt btn-them-tv" style="width: 100% !important;"><i class="ri-add-line"></i>Thêm thành viên</button>
        </div>
    </div>
    <br />
    <div class="kt-portlet__body kt-portlet__body--table">
        <div class="kt-datatable datatable_applications_member scroll-x pe-5"
             data-kt-scroll="true"
             data-kt-scroll-height="auto"
             data-kt-scroll-offset="100px"></div>
        <div class="view-empty">

        </div>
    </div>
</div>

@section scripts{
    <script>
        $('.menu-right').empty();
        $('.menu-right').append(`<button type="button" style="height: 65%;margin-top: 4%;" class="btn btn-white btn-sm btn-icon-sm me-2 mb-2">
                                            <span class="d-sm-inline-block">Xóa</span>
                                        </button >
                                            <button type="button" style="height: 65%;margin-top: 4%;" class="btn_edit btn btn-sm btn-primary btn-icon-sm me-2 mb-2">
                                           Chỉnh sửa
                                        </button>`);
        $('.form-select').selectpicker()
    </script>
}
