﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions


@{
    ViewData["Title"] = "Home";
    ViewData["BodyClass"] = "admin-home";
}
@model DashboardDataResponse
<div class="mx-md-4 w-100 home-index" style="background-color:#141416; border-radius:8px">
    <!--<div class="g-6 col-12 mt-0 notify-home">
        <span style="display:flex">
            <img src="~/img/mobile/subject.png" />
            <marquee class="marquee_text">-->
    @*isuansde83 just sent a request to withdraw from USDT wallet - tedqwer67 just loaded 10000 into USDT wallet at 08:32:17 waiting for approval*@
    <!--isuansde83 vừa gửi yêu cầu rút tiền từ ví USDT  -  tedqwer67 vừa nạp 10000 vào ví USDT lúc 08:32:17 đang chờ phê duyệt  -  kmisabita09 vừa nhắn tin yêu cầu hỗ trợ
            </marquee>
        </span>
    </div>-->
    <div class="p-8">
        <div class="g-6 mt-4 row" style="margin-left: 0px; margin-right: 0px; justify-content: space-between;">
            <div class="col-12 col-md-3 g-6 ">
                <div class="d-flex align-items-center h-100" style="background: #23262F; border-radius: 8px; padding: 11px 8px;">
                    <div class="text-center col-12 text-white">
                        <p class="text-count">@Model?.totalTradingVolume</p>
                        <p>
                            @SharedLocalizer["textNumberTraders"].Value
                        </p>
                    </div>

                </div>

            </div>
            <div class="col-12 col-md-3 g-6">
                <div class="d-flex align-items-center h-100" style="background: #23262F; border-radius: 8px; padding: 11px 8px;">
                    <div class="text-center col-12 text-white">
                        <p class="text-count">@Model?.totalUserTrading</p>
                        <p>
                            @SharedLocalizer["TextAmountOfLKPtraded"].Value
                        </p>
                    </div>

                </div>

            </div>
            <div class="col-12 col-md-3 g-6 ">
                <div class="d-flex align-items-center h-100" style="background: #23262F; border-radius: 8px; padding: 11px 8px;">
                    <div class="text-center col-12 text-white">
                        <p class="text-count">@Model?.totalMatchBetting</p>
                        <p>@SharedLocalizer["TextAmountOfTLPtraded"].Value</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 g-6 ">
                <div class="d-flex align-items-center h-100" style="background: #23262F; border-radius: 8px; padding: 11px 8px;">
                    <div class="text-center col-12 text-white">
                        <p class="text-count">@Model?.totalMatchOnAir</p>
                        <p>@SharedLocalizer["TextAmountOfLKCtraded"].Value</p>
                    </div>

                </div>

            </div>
        </div>
        <div class="row g-6 mt-3">
            <div>
                <div class="h-100 box_pages col-12" style="padding: 24px;">
                    <div class=" admin-memberDetail-copy append-chart">
                        <div class="row align-items-center w-100 mb-6 mx-0">
                            <div class="col-md-5 col-lg-8 col-12 text-center text-md-start">
                                <span class="text_css _title">@SharedLocalizer["Transactionfee"].Value 459 LKP</span>
                            </div>
                            <div class="col-md-7 col-lg-4 mt-4 mt-md-0 col-12 row m-0">
                                <div class="col-12 col-md-6 mb-4 mb-lg-0">
                                    <select class="form-select form-control" aria-label="Select example" data-allow-clear="true" data-live-search="true" style="background-color: #353945; border: 1px solid #23262F; color: #fff">
                                        <option value="" selected>LKP</option>
                                        <option value="04/2022">04/2022</option>
                                        <option value="05/2022">05/2022</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mb-4 mb-lg-0">
                                    <select class="form-select form-control" aria-label="Select example" data-allow-clear="true" data-live-search="true" style="background-color: #353945; border: 1px solid #23262F; color: #fff">
                                        <option value="04/2022" selected>04/2022</option>
                                        <option value="05/2022">05/2022</option>
                                        <option value="06/2022">06/2022</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <canvas id="chart_statical_nru" width="400" style="margin-top: 20px;"></canvas>
                    </div>
                </div>

            </div>
            <div>
                <div class="h-100 box_pages col-12" style="padding: 24px;">
                    <div class=" admin-memberDetail-copy append-chart h-100" style="display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
                        <div class="row align-items-center w-100 mb-6">
                            <div class="col-md-5 col-lg-8 col-12 text-center text-lg-start text-md-start">
                                <span class="text_css _title">@SharedLocalizer["ChartToken&Point"].Value@*Amount of money in and out of the system*@</span>
                            </div>
                            <div class="col-md-7 col-lg-4 mt-4 mt-md-0 col-12 row" style="padding:5.22px 6px; background-color:#353945; border-radius: 8px; margin:0">
                                <div class="col-3 p-0 d-flex">
                                    <button class="btn btn-custom-date filter-hour-StaticalUac justify-content-center w-100" style="padding:10px">24 Hour</button>
                                </div>
                                <div class="col-3 p-0 d-flex">
                                    <button class="btn btn-custom-date filter-day-StaticalUac justify-content-center w-100" style="padding:10px">Day</button>
                                </div>
                                <div class="col-3 p-0 d-flex">
                                    <button class="btn btn-custom-date filter-week-StaticalUac justify-content-center w-100" style="padding:10px">Week</button>
                                </div>
                                <div class="col-3 p-0 d-flex">
                                    <button class="btn btn-custom-date filter-month-StaticalUac justify-content-center w-100" style="padding:10px">Month</button>
                                </div>

                            </div>
                        </div>
                        @* <div id="legend-container" class="chartjs_legend_container"></div>*@
                        <canvas id="chart_statical_uac" width="400" style="margin-top: 20px;"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
