﻿@using System.Security.Claims;
@{
    Layout = null;
}
<div id="kt_header" style="background: #141416; left:0" class="header align-items-stretch">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <!--begin::Aside mobile toggle-->
        <div class="d-flex align-items-center d-lg-none ms-n3 me-1" title="Show aside menu" >
            <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_aside_mobile_toggle">
                <!--begin::Svg Icon | path: icons/duotone/Text/Menu.svg-->
                <span class="svg-icon svg-icon-2x mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <rect fill="#000000" x="4" y="5" width="16" height="3" rx="1.5" />
                            <path d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L18.5,10 C19.3284271,10 20,10.6715729 20,11.5 C20,12.3284271 19.3284271,13 18.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </div>
        </div>
        <!--end::Aside mobile toggle-->
        <!--begin::Mobile logo-->
        <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
            <a href="/" class="d-lg-none">
                @*<img alt="Logo" src="~/img/logo.png" class="h-30px" />*@
                <img  style="height: 35px" src="~/img/Logo (3).png" />
            </a>
        </div>
      
        <!--end::Mobile logo-->
        <!--begin::Wrapper-->
        <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
            <!--begin::Navbar-->
            <div class="d-flex align-items-stretch" id="kt_header_nav">
                <!--begin::Menu wrapper-->
                @*menu ngang*@
                @await Component.InvokeAsync("SubHeader")

                <!--end::Menu wrapper-->
            </div>
            <!--end::Navbar-->
            <!--begin::Topbar-->
            <div class="d-flex align-items-center flex-shrink-0 menu-right">
                <!--begin::Toolbar wrapper-->
                <div class="d-flex align-items-stretch flex-shrink-0">

                    <div class="d-flex align-items-center ms-1 ms-lg-3">
                        <!--begin::Menu- wrapper-->
                        <div class="btn btn-icon btn-active-light-primary position-relative w-30px h-30px w-md-40px h-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom" style="display:none">
                            <!--begin::Svg Icon | path: icons/duotone/Code/Compiling.svg-->
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3" />
                                    <path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column w-350px w-lg-375px bg_core_test" data-kt-menu="true">
                            <!--begin::Heading-->
                            <div class="d-flex flex-column bgi-no-repeat rounded-top" style="background-image:url('assets/media/misc/pattern-1.jpg')">
                                <!--begin::Title-->
                                <div class="fw-bold px-9 mt-6">
                                    Ứng dụng của tôi &nbsp; &nbsp;
                                    <span class="text__primary text_14" style="font-weight: 700;position: absolute;right: 30px;">0</span>
                                </div>

                                <!--end::Title-->
                                <!--begin::Tabs-->
                                <ul class="nav nav-line-tabs nav-line-tabs-2x nav-stretch fw-bold px-9">
                                    <li class="nav-item">
                                        <a class="nav-link text-white opacity-75 opacity-state-100 pb-4 active" data-bs-toggle="tab" href="#kt_topbar_notifications_1"></a>
                                    </li>

                                </ul>
                                <!--end::Tabs-->
                            </div>
                            <!--end::Heading-->
                            <!--begin::Tab content-->
                            <div class="tab-content">
                                <!--begin::Tab panel-->
                                <div class="tab-pane active" id="kt_topbar_notifications_1" role="tabpanel">
                                    <!--begin::Items-->
                                    <div class="scroll-y mh-375px my-5 px-8">
                                        <div style="font-weight: 700;margin-bottom: 5px;">Project Platform</div>
                                        <div class="color_grays">Ứng dụng nền tảng tiêu chuẩn</div>
                                        <!--begin::Item-->
                                        <div class="bg_iteam my-4 btn_Project_account">
                                            <div class="d-flex">
                                                <span class="bg_icon_s"> @*<img src="~/img/img-Project/Groupc1.png" style="height: 23px;" />*@</span>
                                                <div class="pl__12">
                                                    <div class="text_14 text__primary">
                                                        Project Account
                                                    </div>
                                                    <span class="color_grays">Tài khoản</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Item-->
                                        <div style="font-weight: 700;margin-bottom: 5px;">Project Work</div>
                                        <div class="color_grays">Quản lý công việc</div>
                                        <!--begin::Item-->
                                        <div class="bg_iteam my-4">
                                            <div class="d-flex">
                                                <span class="bg_icon_s"></span>
                                                <div class="pl__12">
                                                    <div class="text_14 text__primary">
                                                        Project DMMS
                                                    </div>
                                                    <span class="color_grays">Công việc & Đơn hàng</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Item-->
                                        <div style="font-weight: 700;margin-bottom: 5px;">Project Work</div>
                                        <div class="color_grays">Quản lý & Phát triển con người</div>
                                        <!--begin::Item-->
                                        <div class="bg_iteam my-4">
                                            <div class="d-flex">
                                                <span class="bg_icon_s"> @*<img src="~/img/img-Project/Groupc2.png" style="height: 23px;" />*@</span>
                                                <div class="pl__12">
                                                    <div class="text_14 text__primary">
                                                        Project HRM
                                                    </div>
                                                    <span class="color_grays">Chấm công, bảng lương</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Item-->

                                    </div>
                                    <!--end::Items-->

                                </div>
                                <!--end::Tab panel-->
                                <!--begin::Tab panel-->
                                <!--end::Tab panel-->
                            </div>
                            <!--end::Tab content-->
                        </div>
                        <!--end::Menu-->
                        <!--end::Menu wrapper-->
                    </div>
                    <!--end::Notifications-->
                    <!--begin::User-->
                    <div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
                        <img src="~/img/Group 1391.png" style="margin-right:26px;"/>
                        @*<i class="ri-notification-3-fill"></i>*@
                        <!--begin::Menu wrapper-->
                    <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom">
                        @if (User.FindFirst(ProjectAdmin.Utilities.Constants.USER_AVATAR) == null)
                        {

                            <img class="kt-hidden-" id="avatar-dropdown" src="~/img/mobile/Group 1389.png" />
                        }
                        else
                        {
                            <img class="kt-hidden-" id="avatar-dropdown" alt="" src="@User.FindFirst(ProjectAdmin.Utilities.Constants.USER_AVATAR).Value" />
                        }
                    </div>
                        <!--begin::Menu-->
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px" data-kt-menu="true">
                            <!--begin::Menu item-->
                            <div class="menu-item px-3">
                                <div class="menu-content d-flex align-items-center px-3">
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-50px me-5">
                                        @if (User.FindFirst(ProjectAdmin.Utilities.Constants.USER_AVATAR) == null)
                                        {
                                            <img src="~/img/Group 1000006403@2x.png" alt="admin" />
                                        }
                                        else
                                        {
                                            <img class="kt-hidden-" id="avatar-dropdown" alt="" src="@User.FindFirst(ProjectAdmin.Utilities.Constants.USER_AVATAR).Value" />
                                        }

                                    </div>
                                    <!--end::Avatar-->
                                    <!--begin::Username-->
                                    <div class="d-flex flex-column">
                                        <div class="fw-bolder d-flex align-items-center fs-5">
                                            @if (User.FindFirst(ProjectAdmin.Utilities.Constants.FULL_NAME) == null)
                                            {

                                            }
                                            else
                                            {
                                                @User.FindFirst(ProjectAdmin.Utilities.Constants.FULL_NAME).Value
                                            }
                                            <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2">
                                                @if (User.FindFirst(ProjectAdmin.Utilities.Constants.USER_POSITION) == null)
                                                {

                                                }
                                                else
                                                {
                                                    @User.FindFirst(ProjectAdmin.Utilities.Constants.USER_POSITION).Value
                                                }
                                            </span>
                                        </div>

                                    </div>
                                    <!--end::Username-->
                                </div>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu separator-->
                          
                            
                            <div class="menu-item px-5">
                                <span id="ChangePassword" class="menu-link px-5">Đổi mật khẩu@*Change Password*@</span>
                            </div>
                           
                            <div class="menu-item px-5">
                                <a asp-action="Logout" asp-controller="Authen" class="menu-link px-5">Đăng xuất@*Sign Out*@</a>
                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                        <!--end::Menu wrapper-->
                    </div>
                    <!--end::User -->
                    <!--begin::Heaeder menu toggle-->
                   
                    <!--end::Heaeder menu toggle-->
                </div>
                <!--end::Toolbar wrapper-->
            </div>
            <!--end::Topbar-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Container-->
</div>

