﻿$bg: #F4F5F6;
$bg-input: #F4F5F6;
$color-gray: #777E90;
$color-success: #2CAE39;
$color-switch: #EBEDEF;
$color-text-gray: #B1B5C3;
$text-black: #23262F;
$text-black-lighter: #353945;
$color-icon: #777E90;
$color-icon-lighter: #959FC1;
$color-bg-icon-gray: #E6E8EC;
$color-bg-active-menu: #FAFAFB;
$color-white: #ffffff;
$color-item: #F9F9FC;

$color-border: #EBEEF4;
$text-primary: #3772FF;
$color-danger: #FF6838;
.btn-edit-2 {
    font-weight: 500;
    font-size: 11px;
    line-height: 24px;
    width: 100%;

    i {
        color: #FFFFFF;
        padding: 4px 7px;
        background-color: #2CAE39 !important;
        border-radius: 6px;
    }
}
#matchupdate1 {
    div {
        &.inner.show {
            height: 250px !important;
        }

        .dropdown-menu {
            li {
                a:hover {
                    background-color: #2CAE39;
                    color: #FFF;
                }
            }
        }
    }
}
.pts-drawer--update-score .Project-drawer__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
    max-width: 35em;
    max-height: 27em;
    box-shadow: 0px 3px 46px rgba(175, 190, 211, 0.2);
    border-radius: 36px;
    padding: 2em;

    .text-modal-ab {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #23262F;
    }

    .input-update-score {
        background-image: linear-gradient(to left, #B1B5C3 56%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 43px 1px;
        background-repeat: repeat-x;
        background-position-x: 35px;
        width: 50px;
        background-position-y: 35px;

        &.left {
            margin-left: 15px;
        }

        &.right {
            margin-right: 15px;
        }
    }


    .close {
        right: 3em;
        position: absolute;
        display: none
    }
}
.pts-drawer--edit-match-bet .Project-drawer__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 80%;
    max-width: 40em;
    max-height: 80em;
    /* box-shadow: 0px 3px 46px rgba(175, 190, 211, 0.2);*/
    border-radius: 36px;
    padding: 2em;
    background-color: #23262F;
    color: #fff;

    .Project-drawer__title {
        color: #fff;
    }

    .text-modal-ab {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
    }

    .input-update-score {
        background-image: linear-gradient(to left, #B1B5C3 56%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 43px 1px;
        background-repeat: repeat-x;
        background-position-x: 35px;
        width: 50px;
        background-position-y: 35px;

        &.left {
            margin-left: 15px;
        }

        &.right {
            margin-right: 15px;
        }
    }


    .close {
        right: 3em;
        position: absolute;
        display: none
    }
}
.pts-drawer--update-score-detail .Project-drawer__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
    max-width: 35em;
    max-height: 35em;
    box-shadow: 0px 3px 46px rgba(175, 190, 211, 0.2);
    border-radius: 36px;
    padding: 2em;

    .text-modal-ab {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #23262F;
    }

    .input-update-score {
        background-image: linear-gradient(to left, #B1B5C3 56%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 43px 1px;
        background-repeat: repeat-x;
        background-position-x: 35px;
        width: 50px;
        background-position-y: 35px;

        &.left {
            margin-left: 15px;
        }

        &.right {
            margin-right: 15px;
        }
    }


    .close {
        right: 3em;
        position: absolute;
        display: none
    }
}
.pts-drawer--hot-match .Project-drawer__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
    max-width: 35em;
    max-height: 26em;
    box-shadow: 0px 3px 46px rgba(175, 190, 211, 0.2);
    border-radius: 36px;
    padding: 2em;

    .text-modal-ab {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #23262F;
    }

    .input-update-score {
        background-image: linear-gradient(to left, #B1B5C3 56%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 43px 1px;
        background-repeat: repeat-x;
        background-position-x: 35px;
        width: 50px;
        background-position-y: 35px;

        &.left {
            margin-left: 15px;
        }

        &.right {
            margin-right: 15px;
        }
    }


    .close {
        right: 3em;
        position: absolute;
        display: none
    }
}
#matchupdate1 {
    .dropdown-body {
        ul {
            list-style: none;
            padding: 0;

            li {
                padding: 8px 16px;
                border-radius: 8px;
            }

            li a {
                color: #141416;
                padding: 8px 16px;
                margin: 0px;
                display: block;
                width: 100%;
                height: 100%;
            }

            li:hover {
                padding: 8px 16px;
                border-radius: 8px;
                background-color: #2CAE39;

                a {
                    color: #FFFFFF;

                    i {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

    .font-size-action-chart {
        background-color: #777E90;
        padding: 3px;
        border-radius: 6px;
        color: #FFFFFF;
        font-size: 15px;
    }

    .btn-update-point {
        border: 1px solid #EBEEF4;
        padding: 1px 18px;
        border-radius: 6px;
        background-color: #EBEEF4;
    }

    .btn-update-point:hover {
        border: 1px solid #EBEEF4;
        padding: 1px 18px;
        border-radius: 6px;
        background-color: #FFFFFF;
    }

    .btn-status {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 11px;
        line-height: 24px;
        padding: 4px 12px;
        width: 100%;

        &.btn-green {
            background-color: #2CAE39;
            border-radius: 12px;
        }

        &.btn-primary-2 {
            background-color: #9757D7;
            border-radius: 12px;
        }
    }

   

    .background-card-while {
        padding: 32px 24px;
        background: #FFFFFF;
        box-shadow: 0px 8px 24px rgba(174, 183, 213, 0.08), 0px 8px 36px rgba(174, 183, 213, 0.08);
        border-radius: 8px;
    }

    .title-card-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #777E90;
    }

    .span-card-text {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }


    .padding-right-1 {
        padding-right: 1%;
    }

    .icon-size-card {
        font-size: 26px;
        padding: 15px;
        border-radius: 12px;

        &.color-yellow {
            color: #FF9838;
            background-color: #ff97380d;
        }

        &.color-green {
            color: #2CAE39;
            background-color: #2CAE390d;
        }

        &.color-blue {
            color: #3772FF;
            background-color: #3772FF0d;
        }

        &.color-primary {
            color: #9757D7;
            background-color: #9757D70d;
        }
    }


    .index_search_group {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        > input {
            flex-grow: 1;
            outline: none;
            border: none;
            box-shadow: none;

            &::placeholder {
                color: $color-text-gray;
            }
        }

        > .isg_icon_left > i, > .isg_icon_right > i, > .isg_icon_right > .dropdown > i {
            font-size: 22px;
            line-height: 22px;
        }

        > .isg_icon_left {
            margin-right: 15px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            i:not(:first-child) {
                margin-left: 20px;
            }
        }

        > .isg_icon_right {
            padding-left: 20px;
            margin-left: 8px;
            border-left: 1px solid #EBEEF4;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            > *:not(:first-child) {
                margin-left: 20px;
            }
        }
    }
}

.admin-MatchUpdate {
    .btn-click-more-profit-update-add {
        margin-left: 5px;

        i {
            padding: 12px;
            border-radius: 6px;
            background-color: #2CAE39;
        }
    }

    .btn-click-more-profit-update-close {
        margin-left: 5px;

        i {
            padding: 12px;
            border-radius: 6px;
            background-color: #FF6838;
        }
    }

    .input-update-score {
        width: 50px;
        text-align: center !important;

        &.left {
            margin-left: 15px;
        }

        &.right {
            margin-right: 15px;
        }
    }

    .table-custom {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        background: #F9F9FC;
        border-radius: 12px;
        text-transform: uppercase;

        tr {
            border-bottom: 2px solid #fff;
        }
    }

    .table-color-body {
        background-color: #fff;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #fff;
    }

    .background-rate-update-details {
        background-color: #fff;
        box-shadow: 0px 8px 24px rgba(174, 183, 213, 0.08), 0px 8px 36px rgba(174, 183, 213, 0.12);
        border-radius: 16px;

        .content-rate-update {
            padding: 24px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #23262F;
            height: 60px;
            display: flex;
            align-items: center;
        }
    }

    .btn-status {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 11px;
        line-height: 24px;
        padding: 4px 12px;
        border-radius: 12px;
        width: 100%;

        &.btn-green {
            background-color: #2CAE39;
        }

        &.btn-primary-2 {
            background-color: #9757D7;
        }
    }

    .index_search_group {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        > input {
            flex-grow: 1;
            outline: none;
            border: none;
            box-shadow: none;

            &::placeholder {
                color: $color-text-gray;
            }
        }

        > .isg_icon_left > i, > .isg_icon_right > i, > .isg_icon_right > .dropdown > i {
            font-size: 22px;
            line-height: 22px;
        }

        > .isg_icon_left {
            margin-right: 15px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            i:not(:first-child) {
                margin-left: 20px;
            }
        }

        > .isg_icon_right {
            padding-left: 20px;
            margin-left: 8px;
            border-left: 1px solid #EBEEF4;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            > *:not(:first-child) {
                margin-left: 20px;
            }
        }
    }

    .text-font-500-14 {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        &.color-green {
            color: #2CAE39;
        }

        &.color-white {
            color: #FFFFFF;
        }

        &.color-gray {
            color: #777E90;
        }
    }

    .btn-custom-header {
        background: #FFFFFF;
        border: 1px solid #D3D8EA;
        box-sizing: border-box;
        border-radius: 8px;

        &.background-green {
            color: #FFFFFF;
            background: #2CAE39;

            i {
                color: #FFFFFF;
            }
        }
    }

    .title-font-600-18 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;

        &.color-white {
            color: #FFFFFF;
        }
    }

    .card-background-1 {
        height: 151px;
        background: #3772FF;
        box-shadow: 0px 8px 24px rgba(174, 183, 213, 0.08), 0px 8px 36px rgba(174, 183, 213, 0.12);
        border-radius: 20px 20px 0 0;
    }

    .card-background-2 {
        padding: 25px 0;
        margin-top: -10px;
        box-shadow: 0px -2px 0px #faff00;
        border-radius: 16px 16px 0 0;

        &.color-primary {
            background-color: #9757D7;
        }

        &.color-green {
            background-color: #2CAE39;
        }
    }

    .card-background-3 {
        padding: 28px;
        margin-top: -10px;
        background: #FFFFFF;
        border-radius: 16px
    }

    .background-card-while {
        padding: 32px 24px;
        background: #FFFFFF;
        box-shadow: 0px 8px 24px rgba(174, 183, 213, 0.08), 0px 8px 36px rgba(174, 183, 213, 0.08);
        border-radius: 8px;
    }

    .title-card-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #777E90;
    }

    .span-card-text {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }


    .padding-right-1 {
        padding-right: 1%;
    }

    .icon-size-card {
        font-size: 26px;
        padding: 15px;
        border-radius: 12px;

        &.color-yellow {
            color: #FF9838;
            background-color: #ff97380d;
        }

        &.color-green {
            color: #2CAE39;
            background-color: #2CAE390d;
        }

        &.color-blue {
            color: #3772FF;
            background-color: #3772FF0d;
        }

        &.color-primary {
            color: #9757D7;
            background-color: #9757D70d;
        }
    }
}