﻿.notify-home {
    background: #fff;
    padding: 10px;
    box-shadow: 0px 8px 36px rgba(177, 181, 195, 0.04);
    border-radius: 16px;
    .marquee_text{
        margin-top:5px;
    }
}
.validation-summary-errors {
    height:30px;
    ul {
        list-style: none;
        margin-top:-8px;
    }
}
.home-index {
    .index_item_icon {
        height: 100%
    }

    .content-dasboard-home {
        background: #fff;
        border-radius: 16px;
        padding: 20px;
        width: 24%;
    }

    .text-count {
        color: #fff;
        font-size: 20px;
        margin-bottom: 0px;
    }

    .index-title {
        font-weight: 600
    }

    .index_item_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background: #E6E8EC;
        border-radius: 50%;
        font-weight: 600;
    }

    .btn {
        &.btn-custom-date {
            color: #777E90 !important;
        }

        &.active {
            background-color: #34AF39;
            color: #fff !important;
        }
    }
}
.report-css {
    .nav-link {
        color: black;
        font-weight: 600;
    }

    .nav-tabs .nav-link.active {
        color: #2CAE39;
        border-color: transparent;
        border-bottom: 2px solid;

        i {
            color: #2CAE39;
        }
    }

    .nav-link {
        display: flex;
        align-items: center;
    }

    .form-switch {
        padding-top: 10px;
    }

    .text_6{
        font-weight:600
    }
}

    hr {
        border: 1px solid #EBEEF4;
    }

    @media only screen and (max-width :46.1875em) {
        .dashboard-view {
            display: block !important;
        }

        .home-index .content-dasboard-home {
            width: 100%;
        }
    }

.Project-drawer__container .close {
    background-color: transparent;
    border: none;
    display: block !important;
    font-weight: 600;
    color: #a2acb5;
}
.admin-home, .admin-memberDetail {
    .btn-outline-success.active {
        border: 1px solid #2CAE39 !important;
        color: #2CAE39;
    }
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #2CAE39 !important;
}
.select-custom {
    background: #141416 !important;
    color: #FCFCFD;
}
#selectLanguage {
    button {
        outline: none !important;
    }

    .dropdown-menu {
        &.show {
            background: #141416 !important;

            span {
                color: #FCFCFD;
            }

            a:hover {
                background-color: #353945;
            }
        }
    }
}


/*pc:*/
@media only screen and (min-width:64em)
{
    .menu-mobi {
        display: none;
    }
}

/*tablet:*/
@media only screen and (min-width:46.25em) and (max-width:63.9375em)
{
    .header-tablet-and-mobile-fixed.toolbar-tablet-and-mobile-fixed .wrapper {
        padding-top: 4.2em;
    }
    .menu-mobi {
        display: none;
    }
}
/*mobile :*/
@media only screen and (max-width :46.1875em) {
    .scrolltop {
        bottom: 65px;
        right: 15px;
        width: 30px;
        height: 30px;
    }
    #kt_post {
        margin-bottom: 50px;
    }
    #kt_aside_mobile_toggle {
        display: none !important;
    }
    .header-tablet-and-mobile-fixed.toolbar-tablet-and-mobile-fixed .wrapper {
        padding-top: 4.6em;
    }
    .menu-mobi{
        display:block;
    }
    .menuMobi {
        position: fixed;
        bottom: 0;
        background: #353945;
        width: 100%;
        z-index: 9999;

        ul {
            display: flex !important;
            list-style: none;
            margin: 0;
            justify-content: space-around;
            padding: 0;
            flex-direction: row;

            li {
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: #777E90;

                    i {
                        font-size: 25px;
                    }

                    &.active {
                        color: #34AF39;

                        i {
                            color: #34AF39;
                        }
                    }
                }
            }
        }
    }
}