﻿@media only screen and (min-width:64em) {
    .cus-5 {
        width: 20%
    }
}
.aside.aside-dark {
    background-color: #141416;

    .aside-logo {
        background-color: #141416;
    }
}

    #kt_aside_logo {
        padding-left: 5px !important;
        padding-right: 25px !important;
    }

.aside-dark .menu .menu-item .menu-link.active {
    background-color: #353945 !important;
    color: #fff;
}

.aside-dark .menu .menu-item.show > .menu-link {
    background-color: transparent;
    color: transparent;

    .menu-title {
        color: #E1E2E6;
    }
}
.kt-datatable.kt-datatable--default.kt-datatable--loaded > .kt-datatable__table {
    background-color: #141416;
}
.kt-datatable.kt-datatable--default.kt-datatable--loaded > .kt-datatable__table > .kt-datatable__body {
    background-color: #141416;
    color:#fff;
}

.dmms-drawer--Change-password .Project-drawer__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 600px;
    box-shadow: 0px 3px 46px rgba(175, 190, 211, 0.2);
    border-radius: 36px;
    padding: 2em;
}

    .dmms-drawer--Change-language .Project-drawer__container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 550px;
        width: 450px;
        box-shadow: 0px 3px 46px rgba(175, 190, 211, 0.2);
        border-radius: 36px;
        padding: 2em;
    }

    .dmms-drawer--Change-date .Project-drawer__container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 500px;
        width: 450px;
        box-shadow: 0px 3px 46px rgba(175, 190, 211, 0.2);
        border-radius: 36px;
        padding: 2em;

        .Project-drawer__content {
            overflow: hidden !important;
        }
    }

    .Project-drawer__header {
        justify-content: space-between;
    }

    .div-backgroud-white {
        background-color: #FFFFFF;
        border-radius: 8px
    }

    .detail-header {
        padding: 2em 2em;

        .detail-header-left {
            font-size: 20px;
            font-weight: bold;
        }

        .detail-header-right {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 4px;
        }

        .btn-success-2 {
            background-color: #2CAE39;
            color: #FCFCFD;
            border-radius: 20px;
            padding: 2px 12px;
            font-size: 12px;
        }

        .btn-danger-2 {
            background-color: #f1416c;
            color: #FCFCFD;
            border-radius: 20px;
            padding: 2px 12px;
            font-size: 12px;
        }
    }

    #nav_last_10 {
        button {
            line-height: 3em;
            border: none;

            span {
                padding: 4em
            }
        }
    }

    .text-color-main {
        color: #777E90;
        font-size: 14px;
        margin-bottom: 4px;
    }

    .text-title-color-main {
        color: #777E90;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 4px;
    }

    .text-title-color-main.active {
        color: #23262F;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 4px;
    }

    .text-title {
        color: #353945;
        font-weight: bold;
        font-size: 32px;
    }

    .text-title-color-black {
        color: #353945;
        font-weight: bold;
        font-size: 16px;
    }

    .background-white-border-24 {
        padding: 15px 40px;
        background-color: #FFFFFF;
        border-radius: 20px
    }

    .border-blue {
        border-top: 5px solid #3772FF;
        width: 0px;
        opacity: 0.5;
        border-radius: 6px;
    }

.kt-datatable__pager-info .kt-datatable__pager-detail {
    color: #FCFCFD !important;
}
.language-menu {
    display:flex;
    justify-content:center;

    .title-menu-2 {
        .dropdown {
            border: 1px solid #353A48;
            box-sizing: border-box;
            border-radius: 8px;
        }
    }
}

.customRemove {
    background: #23262F;
    border: 1px solid #353945;
    box-sizing: border-box;
    border-radius: 12px;

    .titleRemove {
        color: #FCFCFD;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }

    .contentRemove {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #E1E2E6;
        margin: 0;
    }

    .btnCancel {
        background: #777E90;
        border-radius: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #FCFCFD;
        order: 0
    }

    .btnConfirm {
        background: linear-gradient(180deg, #71D434 0%, #2E9124 100%);
        border-radius: 8px;
        color: #FCFCFD;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        order: 1;
    }

    .btnConfirm:hover {
        background: linear-gradient(180deg, #6f8163 0%, #4d9346 100%) !important;
        border-radius: 8px;
        color: #FCFCFD;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        order: 1;
    }
}