﻿






$bg: #F4F5F6;
$bg-input: #F4F5F6;
$color-gray: #777E90;
$color-success: #2CAE39;
$color-switch: #EBEDEF;
$color-text-gray: #B1B5C3;
$text-black: #23262F;
$text-black-lighter: #353945;
$color-icon: #777E90;
$color-icon-lighter: #959FC1;
$color-bg-icon-gray: #E6E8EC;
$color-bg-active-menu: #FAFAFB;
$color-white: #ffffff;
$color-item: #F9F9FC;

$color-border: #EBEEF4;
$text-primary: #3772FF;
$color-danger: #FF6838;

/*$colorLists: ("bg": "F4F5F6", "bg-input": "F4F5F6", "color-gray": "777E90", "color-success": "2CAE39", "color-switch": "EBEDEF", "color-text-gray": "B1B5C3");*/
$colorLists: ("text-primary": #3772FF,"color-danger":#FF6838, "bg": #F4F5F6, "bg-input": #F4F5F6, "color-gray": #777E90, "color-success": #2CAE39, "color-switch": #EBEDEF, "color-text-gray": #B1B5C3, "color-icon": #777E90, "text-black": #23262F);

@each $name, $color in $colorLists {
    .color_#{$name} {
        color: $color !important;
    }
}

.authen_box {
    padding: 48px 32px;
    background: #353945;
    border: 1px solid #353945;
    box-sizing: border-box;
    border-radius: 32px;
}

.Login {
    .text_1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: #FCFCFD;
    }

    .text_2 {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #FCFCFD;
    }

    .text_3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #B1B5C3;
    }

    .text_4 {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: $text-black-lighter;
    }

    .text_5 {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: $color-success;
    }

    .text_6 {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
    }

    .placeholder_1::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #B1B5C3;
    }
}

.form-switch.ver_2 {
    .form-check-input {
        border: 0 !important;
        background-color: $color-switch;
        box-shadow: inset 0px 0px 1px rgba(72, 99, 152, 0.19);
        width: 36px;
        height: 18px;
        margin-top: 3px;

        &:checked {
            background-color: $color-success;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
        }

        & {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
        }

        &:focus {
        }
    }
}

.btn.btn-success {
    &.ver_2 {
        padding: 12px 32px;
        background: $color-success;
        border-radius: 12px;

        &:focus {
            background-color: $color-success;
        }

        &:focus:not(.btn-active) {
            background-color: $color-success !important;
        }

        &:hover:not(.btn-active) {
            background-color: #47be7d !important;
        }
    }

    &.ver_3 {
        padding: 12px 32px;
        background: $color-success;
        border-radius: 8px;

        &:focus {
            background-color: $color-success;
        }

        &:focus:not(.btn-active) {
            background-color: $color-success !important;
        }

        &:hover:not(.btn-active) {
            background-color: #47be7d !important;
        }
    }
}

/*.btn-success.ver_2

.btn.btn-success.ver_2

.btn.btn-success.ver_2*/

.input-group.ver_2 {
    input::placeholder {
        color: $color-text-gray;
    }

    > * {
        outline: none;
        border: 0px;
        background: $bg-input;
        border-radius: 12px;
        padding: 16px 25px;
    }

    .input-group-apppend {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > *:not(:last-child):not(:first-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    > *:first-child {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    > *:last-child {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    i {
        color: $color-text-gray;
        font-size: 20px;
    }
}

.input-group.ver_3 {
    border: 1px solid #EBEEF4;
    border-radius: 8px;
    padding-left: 15px;

    > .input-prepend {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;

        > i {
            font-size: 20px;
            line-height: 20px;
        }
    }

    > input {
        border: none;
    }
}

.input-group.ver_4 {
    border: 1px solid #EBEEF4;
    border-radius: 8px;
    padding-left: 15px;

    input::placeholder {
        color: $color-text-gray;
    }

    > * {
        outline: none;
        border: 0px;
        /*background: $bg-input;*/
        border-radius: 12px;
        padding: 12px 20px 12px 0;
    }

    .input-group-apppend {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > *:not(:last-child):not(:first-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    > *:first-child {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    > *:last-child {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    i {
        color: $color-text-gray;
        font-size: 20px;
    }
}

.form-control.ver_2 {
    outline: none;
    border: 0px;
    padding: 16px 25px;
    background: $bg-input;
    border-radius: 12px;

    &::placeholder {
        color: $color-text-gray;
    }
}

.form-control.ver_3 {
    background: #FFFFFF;
    border: 1px solid #EBEEF4;
    border-radius: 8px;

    &::placeholder {
        color: $color-text-gray;
    }

    &:disabled {
        background: $bg-input;
    }
}

.authen_forgotPassword, .authen_changePassword {
    .text_1 {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: $color-gray;
    }

    .text_title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: $text-black;
    }

    .text_description {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: $color-gray;
    }

    .text_label {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: $color-gray;
    }
}

.swal-modal.ver_2 {
    background: #FFFFFF;
    border-radius: 32px;
    padding: 50px 32px;

    .swal-icon {
        margin-top: 0;
    }

    .swal-content {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: $color-gray;
    }

    .swal-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        padding: 0;
        margin-top: 24px;

        .swal-button-container {
            height: 100%;

            button {
                height: 100%;
            }
        }
    }
}

.swal2-container.ver_2 .swal2-modal {
    background: #FFFFFF;
    border-radius: 32px;
    padding: 50px 32px;

    .swal2-image {
        margin: 0 auto;
    }

    .swal2-content {
        padding: 0;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: $color-gray;
    }

    .swal2-close {
        top: 25px;
        right: 25px;
        outline: none;
        border: none !important;
        box-shadow: none !important;
    }

    .swal2-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        padding: 0;
        margin-top: 24px;
        margin-bottom: 0;

        button {
            height: 100%;
            margin-top: 0;
        }
    }
}

.aside {
    #kt_aside_toggle .svg-icon {
        position: fixed;
        left: 255px;
        transition: left .3s ease;

        i {
            color: $color-icon;
        }
    }

    .menu-icon {
        i {
            color: $color-icon-lighter !important;
            font-size: 20px !important;
        }
    }

    .menu-link {
        color: #E1E2E6 !important;
    }

    .menu-link:hover {
        color: #E1E2E6 !important;
        background-color: #353940 !important;
    }

    .menu-link.active {
        background-color: $color-bg-active-menu !important;
        color: $color-success !important;
        border-left: 3px solid $color-success;
        padding-left: 20px !important;

        .menu-title {
            color: #FCFCFD !important;
        }

        .menu-icon {
            margin-left: 0 !important;

            i {
                color: $color-success !important;
                font-size: 20px;
            }
        }
    }

    .menu-link-sub.active {
        padding-left: calc(.75rem + 25px) !important;
    }


    .menu-item .menu-link.active .menu-bullet .bullet {
        background-color: $color-success !important;
    }

    .menu-link.menu-link-sub:hover .menu-bullet .bullet {
        background-color: $color-success !important;
    }
}

[data-kt-aside-minimize=on] .aside {
    width: 50px;

    #is_menu_mobile {
        display: none !important;
    }

    .aside-logo .text_logo {
        display: none;
    }

    #kt_aside_toggle .svg-icon {
        position: fixed;
        left: 40px;
    }

    .aside-logo {
        padding-left: 0 !important;
        padding-right: 12px !important;
    }

    #kt_aside_logo {
        padding-left: 0 !important;
        padding-right: 12px !important;
    }

    .menu-link:not(.menu-link-sub) {
        padding-left: 15px !important;
    }
    /*&:hover .menu-link:not(.menu-link-sub) {
        padding-left: 25px !important;
    }*/
    .menu-link {
        .menu-icon i {
            color: $color-icon-lighter !important;
            font-size: 20px;
        }
    }

    .menu-link.active {
        background-color: $color-bg-active-menu !important;
        color: $color-success !important;
        border-left: 3px solid $color-success;
        padding-left: 12px !important;

        .menu-icon {
            margin-left: 0 !important;

            i {
                color: $color-success !important;
                font-size: 20px;
            }
        }
    }
    /*&:hover {
        .menu-link.active {*/
    /*background-color: #5766E5 !important;*/
    /*color: $color-success !important;

            .menu-title {
                color: $color-success !important;
            }

            .menu-icon {
                margin-left: -10px !important;
            }
        }

        #kt_aside_toggle .svg-icon {
            position: fixed;
            left: 255px;
        }

        .aside-logo .text_logo {
            display: block;
        }
    }*/
}

.aside-enabled.aside-fixed[data-kt-aside-minimize=on] .wrapper {
    padding-left: 50px;
}

@media (max-width: 992px) {
    .menu-link:not(.menu-link-sub) {
        padding-left: 25px !important;
    }

    .menu-link.active:not(.menu-link-sub) {
        padding-left: 22px !important;
    }

    &:hover .menu-link:not(.menu-link-sub) {
        padding-left: 25px !important;
    }

    &:hover .menu-link.active:not(.menu-link-sub) {
        padding-left: 22px !important;
    }
}



.menu-link.active {
    height: auto !important;
    width: auto !important;
}

.icon_arrow_menu {
    background: $color-bg-icon-gray;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 0;

    i {
        font-weight: 600;
        font-size: 15px;
        color: $color-icon;
    }
}

#kt_aside {
    .text_logo {
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: $text-black;
    }
}

.kt-subheader__breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: start;

    .kt-subheader__title {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: -0.01em;
        color: $text-black;
        margin-right: 12px;

        * {
            color: $text-black;
        }
    }
}

.btn.btn-outline-dark.ver_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    /*padding: 10px 32px;*/
    background: $color-white;
    border: 1px solid #D3D8EA !important;
    border-radius: 8px;

    i {
        font-size: 20px;
        margin-right: 5px;
    }

    &:hover {
        filter: brightness(95%);
        color: $text-black !important;
    }
}

.text_pages_title {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: $text-black-lighter;
}

.text_pages_description {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $color-gray;
}

.box_pages {
    background: #23262F;
    box-shadow: 0px 8px 24px rgba(174, 183, 213, 0.02), 0px 8px 36px rgba(174, 183, 213, 0.08);
    border-radius: 16px;

    > .box_pages_header {
    }
}

.admin-member, .admin-DWOrders, .report-css, .admin-memberDetail, admin-memberDetail-copy {
    .index_item {
        border-radius: 8px;
        padding: 14px 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $color-item;

        &:not(:first-child) {
            margin-top: 8px;
        }

        .index_item_icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background: $color-bg-icon-gray;
            border-radius: 50%;
            font-weight: 600;

            i {
                color: $color-icon;
                font-size: 16px;
                line-height: 16px;
            }
        }

        &.active, &:hover {
            background: $color-success;

            * {
                color: $color-white;
            }

            .index_item_content {
            }

            .index_item_icon {
                background: $color-white;

                i {
                    color: $color-success;
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
    }

    .index_search_group {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        > input {
            flex-grow: 1;
            outline: none;
            border: none;
            box-shadow: none;

            &::placeholder {
                color: $color-text-gray;
            }
        }

        > .isg_icon_left > i, > .isg_icon_right > i, > .isg_icon_right > .dropdown > i {
            font-size: 22px;
            line-height: 22px;
        }

        > .isg_icon_left {
            margin-right: 15px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            i:not(:first-child) {
                margin-left: 20px;
            }
        }

        > .isg_icon_right {
            padding-left: 20px;
            margin-left: 8px;
            border-left: 1px solid #EBEEF4;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            > *:not(:first-child) {
                margin-left: 20px;
            }
        }
    }
}

.kt-datatable__table {
    overflow-x: auto !important;

    > .kt-datatable__body, > .kt-datatable__head {
        .kt-datatable__cell > span:first-child {
            color: #FFFFFF !important;
            font-size: 14px;
            line-height: 24px;
        }
    }

    > .kt-datatable__body {
        .kt-datatable__row {
            z-index: 1;

            &:hover {
                position: relative;
                z-index: 2;
            }

            .kt-datatable__action-icon {
                font-size: 18px;
                line-height: 18px;
                cursor: pointer;
            }
        }
    }
}

.status_bar {
    display: flex;
    justify-content: center;
    width: 100%;
    background: red;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 8px;
}

.form-select.ver_footer {
    outline: none;
    border: none;
    color: $color-gray;
}

.dropdown-menu.ver_2 {
    > .dropdown-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 19px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
        color: $text-black;

        &:not(:last-child) {
            border-bottom: 1px solid $color-border;
        }

        > i, > .btn-close {
            color: $text-black;
            margin-left: 8px;
        }
    }

    > .dropdown-body {
        padding: 12px 19px;

        &:not(:last-child) {
            border-bottom: 1px solid $color-border;
        }

        > .dropdown-item {
            border-radius: 8px;
            padding: 8px 16px;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #353945;

            &:not(:first-child) {
                margin-top: 3px;
            }

            &:hover {
                background-color: $color-success;
                color: $color-white;
            }
        }
    }

    > .dropdown-footer {
        padding: 16px 19px;
    }
}

.btn-close {
    outline: none !important;
    box-shadow: none !important;
}

.form-group.ver_2 {
    > .form-label {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: $color-gray;
    }
}

.form-select.ver_3 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23959FC1' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.dropdown.bootstrap-select.form-select.ver_3 {
    padding: 0;
    width: 100% !important;
    display: block;
    background: #fff;

    > button {
        background: #FFFFFF;
        border-radius: 8 px;
        outline: none !important;
        color: $text-black;
    }

    .dropdown-item.active, .dropdown-item:active {
        background-color: $color-success !important;
        color: $color-white !important;
    }

    .dropdown-item.active:focus {
        background-color: $color-success !important;
        color: $color-white !important;
    }
}

.dropdown.bootstrap-select.form-select.ver_4 {
    padding: 0;
    width: 100% !important;
    display: block;
    background: #fff;

    > button {
        background: #FFFFFF;
        border-radius: 8 px;
        outline: none !important;
        color: $text-black;
    }

    .dropdown-item {
        padding: 14px 16px;
    }

    :not(:last-child) .dropdown-item {
        border-bottom: 1px solid #EBEEF4;
    }

    .dropdown-item.active, .dropdown-item:active {
        background-color: $color-success !important;
        color: $color-white !important;
    }

    .dropdown-item.active:focus {
        background-color: $color-success !important;
        color: $color-white !important;
    }

    .dropdown-menu {
        border-radius: 8px;
        max-height: 600px;
    }
}

.text_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $text-primary;
}

.kt-datatable__pager-info {
    .kt-datatable__pager-detail {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: $text-black;
    }
}

.kt-datatable > .kt-datatable__pager {
    flex-direction: row-reverse;
}

.kt-datatable > .kt-datatable__pager > .kt-datatable__pager-nav > li > .kt-datatable__pager-link {
    color: $text-black;
}

.kt-datatable > .kt-datatable__pager > .kt-datatable__pager-nav > li > .kt-datatable__pager-link.kt-datatable__pager-link--active {
    color: $color-white;
    background: $color-success;
}

.admin-memberDetail, .admin-memberDetail-copy {
    .text_css {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: #FFFFFF;

        &._title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }

        &._status_small {
            font-weight: 500;
            font-size: 10px;
            line-height: 17px;
            color: #FCFCFD;
            border-radius: 6px;
            padding: 4px 8px;
            width: fit-content;
        }

        &._title_small {
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            color: $color-gray;
        }

        &._contain_big {
            font-weight: 600;
            font-size: 16px;
            color: $text-black;
        }

        &._contain_bigger {
            font-weight: 600;
            font-size: 20px;
            font-size: $text-black;
        }
    }
}

/*border*/
.border_end_0 {
    border-right: none;
}

.border_end_1 {
    border-right: 1px solid $color-bg-icon-gray;
}

@media only screen and (min-width: 576px) {
    .border_end_sm_0 {
        border-right: none;
    }

    .border_end_sm_1 {
        border-right: 1px solid $color-bg-icon-gray;
    }
}

@media only screen and (min-width: 768px) {
    .border_end_md_0 {
        border-right: none;
    }

    .border_end_md_1 {
        border-right: 1px solid $color-bg-icon-gray;
    }
}

@media only screen and (min-width: 992px) {
    .border_end_lg_0 {
        border-right: none;
    }

    .border_end_lg_1 {
        border-right: 1px solid $color-bg-icon-gray;
    }
}

@media only screen and (min-width: 1200px) {
    .border_end_xl_0 {
        border-right: none;
    }

    .border_end_xl_1 {
        border-right: 1px solid $color-bg-icon-gray;
    }
}

@media only screen and (min-width: 1400px) {
    .border_end_xxl_0 {
        border-right: none;
    }

    .border_end_xxl_1 {
        border-right: 1px solid $color-bg-icon-gray;
    }
}

.btn.btn-outline-success.ver_2 {
    border: 1px solid $color-border !important;
    background: $color-white;
    color: $text-black;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    padding: 2px 10px !important;

    &:hover {
        border: 1px solid $color-success !important;
        color: $color-success;
        /*color: $color-white;*/
    }
}

.chartjs_legend_container {
    .legend-item {
        width: 12px;
        height: 12px;
        border-radius: 2px;
    }
}

.nav.nav-tabs.ver_2 {
    padding: 21px 24px 0 24px;

    > .nav-item {
        &:not(:last-child) > .nav-link {
            margin-right: 16px;
        }

        > .nav-link {
            border: none;
            color: $text-black;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            padding: 0 0 6px 0;

            &.active {
                color: $color-success;
                border-bottom: 2px solid $color-success;

                a {
                }
            }
        }
    }
}

.tab-content.ver_2 {
    padding: 21px 24px;
}

/*#memberDetail_USDTWallet{
    .action_button {
        &:not() {}
    }
}*/

.form-check.ver_2 {
    > .form-check-input[type="checkbox"].ver_2 {
        width: 18px;
        height: 18px;
        border-radius: 2px;
        margin-top: 0;
        border: 2px solid $color-icon-lighter;
        margin-bottom: 0;
        background-size: 80% 60%;

        &:checked {
            box-shadow: none;
            background-color: $color-success;
            border: none;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
        }
    }
}

.kt-checkbox--solid.ver_2 {
    input {
        width: 18px;
        height: 18px;
        border-radius: 2px;

        &:checked {
            box-shadow: none;
            background-color: $color-success;
            border: none;
        }
    }
}

.btn.btn-outline-dark.ver_3 {
    background: #FFFFFF;
    border: 1px solid #D3D8EA !important;
    border-radius: 8px;
    color: $text-black;
}

.btn.btn-outline-dark.ver_4 {
    background: #FFFFFF;
    border: 1px solid #D3D8EA !important;
    border-radius: 12px;
    color: $text-black;
}

.sportmanAdmin_notify_add {
    .Project-drawer__container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 350px;
        border-radius: 16px;
    }

    .Project-drawer__header {
        padding: 2rem;
    }

    .Project-drawer__content {
        padding: 0 2rem 2rem 2rem;
    }
}

.d-flex_notify {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;

    > *{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 1;
    }
    > .flex_grow {
        flex-grow: 1;
    }
}


@media (min-width: 992px) {
    [data-kt-aside-minimize=on] .aside.aside-hoverable:hover {
        width: 50px !important;

        .aside-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 65px;
            padding: 0 25px;
        }

        .menu-item .menu-title {
            display: none;
        }
    }

    [data-kt-aside-minimize=on] .aside {
        /*        display:flex!important;
        flex-direction: column !important;*/
    }
}