﻿@model CMSAccountDataResponse;
@{
    ViewData["Title"] = "Detail";
    ViewData["BodyClass"] = "ftm-CMSAccount";
}
<div id="kt_content_container" style="width:100%; padding: 0 26px;">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex flex-column">
            <span class="text-title-color-main">< Account Balance</span>
            <span class="text-title">My Account</span>
            <span class="text-title-color-main">At a glance summary of your account. Have fun!</span>
        </div>
        <div class="detail-header">
            @if (Model.detail.status == 0)
            {

                <button type="button" id="Update_status" data-status="1"
                        class="btn btn-success-2 btn-sm me-2 mb-2">
                    <span class="d-sm-inline-block">Active</span>
                </button>
            }
            else
            {
                <button type="button" id="Update_status" data-status="0"
                        class="btn btn-danger-2 btn-sm me-2 mb-2">
                    <span class="d-sm-inline-block">Lock</span>
                </button>
            }
        </div>

    </div>
    <div class="row m-0 pt-5">
        <div class="col-12 col-md-3 div-backgroud-white">
            <input id="status" class="status" asp-for="detail.status" hidden />
            <input id="uuid" class="uuid" asp-for="detail.uuid" hidden />
            <div>
                <div class="detail-header d-flex flex-column justify-content-between align-items-center">
                    <img />
                    <span><strong style="font-size:18px">ID: @Model.detail.code</strong></span>
                    <span class="detail-header-right">
                        @{
                            var statusName = "";
                            var className = "";
                            if (Model.detail.status == 0)
                            {
                                statusName = "Locked";
                                className = "btn-danger-2";
                            }
                            else
                            {
                                statusName = "Active";
                                className = "btn-success-2";
                            }
                        }
                        <span class="@className">
                            @statusName
                        </span>
                    </span>
                    <span class="text-color-main">
                        @Model.detail.username
                    </span>
                    <span class="text-color-main">0983456789</span>
                </div>
                <div class="detail-body row" style="padding:2em">
                    <div class="d-flex justify-content-between">
                        <p class="text-color-main"><strong>Available Balanca :</strong></p>
                        <p><strong>@Model.detail.gameCoin</strong></p>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <p class="text-color-main"><strong>Invest VIP Level :</strong></p>
                        <p><strong>VIP @Model.detail.investLevel</strong></p>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <p class="text-color-main"><strong>Game VIP Level :</strong></p>
                        <p><strong>VIP @Model.detail.gameVipLevel</strong></p>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <p class="text-color-main"><strong>Last update :</strong></p>
                        <p><strong>@Model.detail.createAt_format</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 mt-4 mt-md-0" style="padding-left:25px" id="nav_last_10">
            <nav class="nav nav-tabs" role="tablist">
                <button class="nav-link tab_btn p-0 pb-2 active" data-bs-toggle="tab" data-bs-target="#nav_last_10_deposit" type="button" role="tab" aria-selected="true">
                    <span>Last 10 Deposit</span>
                </button>
                <button class="nav-link tab_btn p-0 pb-2 Recently_end" data-bs-toggle="tab" data-bs-target="#nav_last_10_withdraw" type="button" role="tab" aria-selected="false">
                    <span>Last 10 Withdraw</span>
                </button>
                <button class="nav-link tab_btn p-0 pb-2" data-bs-toggle="tab" data-bs-target="#nav_last_10_transaction" type="button" role="tab" aria-selected="false">
                    <span>Last 10 Transaction</span>
                </button>
            </nav>
            <div class="tab-content div-backgroud-white" id="myTabContent">
                <div class="tab-pane fade show active" id="nav_last_10_deposit" role="tabpanel">
                    <div class="p-2" style="height: 430px;overflow: auto;">
                        <div class="w-100 mt-4">
                            <div class="detail-body row" style="padding:2em">
                                <table class="table table-striped" id="customers">
                                    <thead>
                                        <tr>
                                            <th scope="col"><strong>Status Name</strong></th>
                                            <th scope="col"><strong>Amount</strong></th>
                                            <th scope="col"><strong>Time Created</strong></th>
                                            <th scope="col"><strong>Time Verified</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="append-teamList">
                                        @if (Model.last_10_deposit.Count > 0)
                                        {
                                            foreach (var item in Model.last_10_deposit)
                                            {
                                                <tr>
                                                    <th>@item.statusName</th>
                                                    <td>@item.amount</td>
                                                    <td>@item.timeCreated_format</td>
                                                    <td>@item.time_verified_format</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="4" class="text-center">  No Data</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav_last_10_withdraw" role="tabpanel">
                    <div class="p-2" style="height: 430px;overflow: auto;">
                        <div class="w-100 mt-4">
                            <div class="detail-body row" style="padding:2em">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col"><strong>Status Name</strong></th>
                                            <th scope="col"><strong>Amount</strong></th>
                                            <th scope="col"><strong>timeCreated</strong></th>
                                            <th scope="col"><strong>time_verified</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="append-teamList">
                                        @if (Model.last_10_withdraw.Count > 0)
                                        {
                                            foreach (var item in Model.last_10_withdraw)
                                            {
                                                <tr>
                                                    <th>@item.statusName</th>
                                                    <td>@item.amount</td>
                                                    <td>@item.timeCreated_format</td>
                                                    <td>@item.time_verified_format</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="4" class="text-center">  No Data</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav_last_10_transaction" role="tabpanel">
                    <div class="p-2" style="height: 430px;overflow: auto;">
                        <div class="w-100 mt-4">
                            <div class="detail-body row" style="padding:2em">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col"><strong>Product Name</strong></th>
                                            <th scope="col"><strong>Action Name</strong></th>
                                            <th scope="col"><strong>Game Coin Changed</strong></th>
                                            <th scope="col"><strong>Game Coin Balance</strong></th>
                                            <th scope="col"><strong>Time Created</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="append-teamList">
                                        @if (Model.last_10_transaction.Count > 0)
                                        {
                                            foreach (var item in Model.last_10_transaction)
                                            {
                                                <tr>
                                                    <th>@item.productName</th>
                                                    <td>@item.ActionName</td>
                                                    <td>@item.gameCoinChanged</td>
                                                    <td>@item.gameCoinBalance</td>
                                                    <td>@item.timeCreated_format</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="5" class="text-center">No Data</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="pt-4">
            <span class="text-title-color-main active" style="font-size:24px; margin-right:32px">My investment</span>
        </div>
        <div class="row justify-content-around pt-5">
            <div class="col-3 px-4">
                <div class="d-flex flex-column align-items-center background-white-border-24">
                    <span class="text-color-main">Profit received</span>
                    <span class="text-title">@Model.userInvestInfo.totalProfit_string</span>
                </div>
            </div>
            <div class="col-3 px-4">
                <div class="d-flex flex-column align-items-center background-white-border-24">
                    <span class="text-color-main">Average profit</span>
                    <span class="text-title">@Model.userInvestInfo.averageProfit_string</span>
                </div>
            </div>
            <div class="col-3 px-4">
                <div class="d-flex flex-column align-items-center background-white-border-24">
                    <span class="text-color-main">Investment money</span>
                    <span class="text-title">@Model.userInvestInfo.totalAmountInvested_string</span>
                </div>
            </div>
            <div class="col-3 px-4">
                <div class="d-flex flex-column align-items-center background-white-border-24">
                    <span class="text-color-main">Total amount owed</span>
                    <span class="text-title">@Model.userInvestInfo.totalAmountOwed_string</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 div-backgroud-white" style="padding:30px;">
        <div class="detail-header" style="padding:2em 0">
            <div class="detail-header-left">
                <span>Packages are investing</span>
            </div>
        </div>
        <div class="detail-body">
            <div class="append-invest" style="height:500px;overflow:auto"></div>
        </div>
    </div>
    <div class="mt-5 div-backgroud-white">
        <div class="detail-header">
            <div class="detail-header-left">
                <span>System information</span>
            </div>
        </div>
        <div class="detail-body p-4">
            <hr />
            <div class="row">
                <div class="col-3" style="border-right:1px solid #C1C1C1">
                    <div class="d-flex flex-column align-items-start px-5">
                        <span class="text-color-main">Commission profit received</span>
                        <span class="text-title" style="font-size:24px">@Model.systemInfo.commissionProfit_string</span>
                    </div>
                </div>
                <div class="col-3" style="border-right:1px solid #C1C1C1">
                    <div class="d-flex flex-column align-items-start px-5">
                        <span class="text-color-main">F1 number is working</span>
                        <span class="text-title" style="font-size:24px">@Model.systemInfo.f1InvestingCount/@Model.systemInfo.f1Count</span>
                    </div>
                </div>
                <div class="col-3" style="border-right:1px solid #C1C1C1">
                    <div class="d-flex flex-column align-items-start px-5">
                        <span class="text-color-main">Fn number is working</span>
                        <span class="text-title" style="font-size:24px">@Model.systemInfo.memberInvestingCount/@Model.systemInfo.memberCount</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex flex-column align-items-start px-5">                     
                        <span class="text-color-main">The system is investing</span>
                        <span class="text-title" style="font-size:24px">@Model.systemInfo.totalAmountInvest_string</span>
                    </div>
                </div>
            </div>
            <hr />
          
        </div>

    </div>
    <div>
        <div class="pt-4">
            <span class="text-title-color-main active" style="font-size:24px; margin-right:32px">Game Information</span>
        </div>
        <div class="row justify-content-around pt-5">
            <div class="col-4 px-4">
                <div class="d-flex flex-column align-items-center background-white-border-24">
                    <span class="text-color-main">Average Of Transaction</span>
                    <span class="text-title" id="averageOfTransaction"></span>
                </div>
            </div>
            <div class="col-4 px-4">
                <div class="d-flex flex-column align-items-center background-white-border-24">
                    <span class="text-color-main">Total Game Win/Lose</span>
                    <span class="text-title" id="totalGameWinLose"></span>
                </div>
            </div>
            <div class="col-4 px-4">
                <div class="d-flex flex-column align-items-center background-white-border-24">
                    <span class="text-color-main">Average Win/Lose 3 Month</span>
                    <span class="text-title" id="averageTotalWinLose"></span>
                </div>
            </div>
        </div>
    </div>
   
    <div class="mt-5 div-backgroud-white">
        <div class="detail-header">
            <div class="detail-header-left">
                <span>System information</span>
            </div>
        </div>
        <div class="detail-body p-4">
            <hr />
            <div class="row">
                <div class="col-3" style="border-right:1px solid #C1C1C1">
                    <div class="d-flex flex-column align-items-start px-5">
                        <span class="text-color-main">Total Game Branch Profit</span>
                        <span class="text-title" style="font-size:24px" id="totalGameBranchProfit">0</span>
                    </div>
                </div>
                <div class="col-3" style="border-right:1px solid #C1C1C1">
                    <div class="d-flex flex-column align-items-start px-5">
                        <span class="text-color-main">F1 Active / Total F1</span>
                        <span class="text-title" style="font-size:24px" id="totalF1">0</span>
                    </div>
                </div>
                <div class="col-3" style="border-right:1px solid #C1C1C1">
                    <div class="d-flex flex-column align-items-start px-5">
                        <span class="text-color-main">Member Active / Total System</span>
                        <span class="text-title" style="font-size:24px" id="totalFn">0</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex flex-column align-items-start px-5">
                        <span class="text-color-main">Total Trade Amount</span>
                        <span class="text-title" style="font-size:24px" id="totalTradeAmount">0</span>
                    </div>
                </div>
            </div>
            <hr />
            @*<div class="px-5 d-flex flex-column">
                    <span class="text-color-main">Average commission profit * the last 3 months</span>
                    <span class="text-title">$ 124.08K</span>
                </div>
                <div>
                    <canvas></canvas>
                </div>*@

        </div>

    </div>
</div>

@section scripts{
    @*<script>
        $('.menu-right').empty();
        var status = $("#status").val();
        var html = "";
        if (status == 1) {
            html = `<button type="button" style="height: 65%;margin-top: 4%;" id="Update_status" data-status="0"
                        class="btn btn-danger btn-sm me-2 mb-2" >
                        <span class="d-sm-inline-block" >Locked</span>
                    </button>`
        } else {
            html = `<button type="button" style="height: 65%;margin-top: 4%;" id="Update_status" data-status="1"
                        class="btn btn-success btn-sm me-2 mb-2" >
                        <span class="d-sm-inline-block">Active</span>
                    </button>`
        }
        //var dataType = $('#archives_detail_data').attr('data_type') || "";
        $('.menu-right').append(html);
        var form_uuid_manager = $("#from_Uuid").val();

    </script>*@
}