﻿@{
    ViewData["Title"] = "CMS Account";
    ViewData["BodyClass"] = "ftm-CMSAccount";
}

@*<div class="content-Project-core">
    <form>
        <div class="row">
         
        </div>
    </form>
</div>*@

<div id="kt_content_container"  style="width:100%">
    <div class="kt-portlet list-index">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="row g-4">
                    <div class="col-md-12">
                        <div class="row px-6">
                            <div class="col-12 col-md-3">
                                <select class="form-select no_border" style="box-shadow: 0px 6px 30px rgba(175, 190, 211, 0.15);border:0;" aria-label="Select example" data-allow-clear="true" data-live-search="true" id="js-filter-type" title="role">
                                    <option value="">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input id="js-filter-keyword" type="text" name="keyword" class="form-control class_search ps-10" style="background-color:#fff;" value="" placeholder="Search by code, name..." />
                                    <span class="kt-input-icon__icon kt-input-icon__icon___left">
                                        <span style=" padding-left: 10px;"><i class="ri-search-line search___ticket"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="kt-portlet__body kt-portlet__body--table px-5">
            <div class="kt-datatable scroll-x"
                 data-kt-scroll="true"
                 data-kt-scroll-height="auto"
                 data-kt-scroll-offset="100px"></div>
            <div class="view-empty">

            </div>
        </div>
    </div>
</div>