﻿
@{
    ViewData["Title"] = "ListSession";
    ViewData["BodyClass"] = "ftm-CMSAccount";
}

<div id="kt_content_container" style="width:100%;">
    <div class="kt-portlet list-index">
        <div class="kt-portlet__body">
            <div class="kt-form kt-form--label-right">
                <div class="row g-4">
                    <div class="col-md-12">
                        <div class="row px-6">
                            <div class="col-12 col-md-2">
                                <div style="display: flex; border-radius: 0.475rem; box-shadow: 0px 6px 30px rgba(175, 190, 211, 0.15); ">
                                    <div class="kt-input-icon kt-input-icon--left" id="js-time-click">
                                        <div id="js-filter-time" class="form-control" style="padding:0.75rem 1.25rem; display:flex; align-items:center; ">
                                            <i class="ri-calendar-todo-line" style="color: #5766E5;font-size: 1.2rem;"></i>
                                            <span style="white-space: nowrap; overflow: hidden;width: 67%;margin-left: 10px;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input id="js-filter-keyword-session" type="text" name="keywordSession" class="form-control class_search ps-10" style="background-color:#fff;" value="" placeholder="Search by code, name..." />
                                    <span class="kt-input-icon__icon kt-input-icon__icon___left">
                                        <span style=" padding-left: 10px;"><i class="ri-search-line search___ticket"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="kt-portlet__body kt-portlet__body--table px-5">
            <div class="kt-datatable-session scroll-x"
                 data-kt-scroll="true"
                 data-kt-scroll-height="auto"
                 data-kt-scroll-offset="100px"></div>
            <div class="view-empty">

            </div>
        </div>
    </div>
</div>

