$kt-transition: all 0.3s !default;
$kt-action-icons: ( close: '\f191', down: '\f110', up: '\f113', left: '\f111', right: '\f112', plus: '\f2c2', minus: '\f28e' ) !default;
// text color
$main-text-color: #2F3D50;
$body-text-color: #5B6178;
@mixin kt-la-icon-self($icon) {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "#{$icon}";
}
@mixin kt-la-icon($icon) {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    &:before {
        content: "#{$icon}";
    }
}
@mixin kt-close-icon($self: null) {
    @if $self == true {
        @include kt-la-icon-self('\f191');
    }
    @else {
        @include kt-la-icon('\f191');
    }
}
@mixin kt-hover-transition {
    transition: $kt-transition;

    &:hover {
        transition: $kt-transition;
    }
}

@mixin kt-transition {
    transition: $kt-transition;
}
.Project-drawer__container {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #fff;
    right: 0;
    height: 100%;
    width: 640px;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);

    .dual-listbox {
        height: 100%;
    }


    .dual-listbox__search {
        width: 100%;
        max-width: none;
    }

    .dual-listbox__container {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;

        > div {
            height: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .dual-listbox__available,
        .dual-listbox__selected {
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 auto;
            -moz-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 270px;
        }

        .dual-listbox__buttons {
            height: auto;
        }
    }
}

.Project-drawer__body {
    position: relative;
}

.Project-drawer__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.Project-drawer--open {
    .Project-drawer__container {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        visibility: visible;
        opacity: 1;
    }

    .Project-drawer__backdrop {
        visibility: visible;
        opacity: 1;
    }
}

.Project-drawer__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .blockUI {
        height: 100%;
        width: 100% !important;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.Project-drawer__footer {
    padding: 1.25rem;
}

.Project-drawer__header {
    padding: 1.25rem;

    .close {
        outline: none !important;
        color: kt-base-color(label, 2);

        @include kt-close-icon();
        @include kt-hover-transition();

        &:before {
            font-size: 1.3rem;
        }

        span {
            display: none;
        }

        &:hover {
            color: kt-brand-color();
        }
    }
}

.Project-drawer__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: $main-text-color;
}

.Project-drawer__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, 0.4);
    z-index: 900;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.Project-drawer__body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.drawer-open {
    overflow: hidden;
}
