﻿@model ProjectAdmin.Models.SubHeaderModel
@using System.Security.Claims;
@{
    Layout = null;
}
<!-- begin:: Subheader -->
@if (Model != null)
{
    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch">
        <div class="kt-subheader kt-grid__item" id="kt_subheader" style="display:flex;align-items:center">
            <div class="kt-container  kt-container--fluid ">
                <div class="kt-subheader__main">
                    <span class="kt-subheader__separator kt-hidden"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <h3 class="kt-subheader__title">
                            @if (string.IsNullOrEmpty(Model.TitleLink))
                            {
                            <a class="d-flex hef_a" href="@Model.TitleLink" title="@Model.Title"><i class="ri-arrow-left-fill add___icon" style="display: none;"></i> @Model.Title</a>
                            }
                            else
                            {
                                @User.FindFirst(ProjectAdmin.Utilities.Constants.FULL_NAME).Value
                            }

                        </h3>
                        @if (!string.IsNullOrEmpty(Model.SubTitle) || !string.IsNullOrEmpty(Model.SubTitleSmal))
                        {
                            <span class="kt-subheader__breadcrumbs-separator"></span>
                            @Html.Raw(Model.SubTitleSmal)
                            <a href="" class="kt-subheader__breadcrumbs-link">
                                @Model.SubTitle
                            </a>
                        }

                    </div>
                </div>
                <div class="kt-subheader__toolbar">

                    @if (Model.Toolbar == 1)
                    {
                        <div class="kt-subheader__wrapper">
                            <a href="#" class="btn kt-subheader__btn-daterange" id="kt_dashboard_daterangepicker" data-toggle="kt-tooltip" title="Chọn ngày xem Dashboard" data-placement="left">
                                <i class="flaticon2-calendar-9"></i>
                                <span class="kt-subheader__btn-daterange-title" id="kt_dashboard_daterangepicker_title">Hôm nay:</span>&nbsp;
                                <span class="kt-subheader__btn-daterange-date" id="kt_dashboard_daterangepicker_date">16 Th04</span>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
<!-- end:: Subheader -->