﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewData["Title"] = "Detail";
    Layout = null;
}


<form id="edit-match-bet">
    <div class="form-group mb-3">
        <div class="d-flex justify-content-between">
            <p style="font-size: 16px; line-height: 24px;color: #B1B5C3;"> @SharedLocalizer["Trading code"].Value</p>
            <p style="font-size: 16px; line-height: 24px;color: #FCFCFD;">1269423</p>
        </div>
        <div class="d-flex justify-content-between">
            <p style="font-size: 16px; line-height: 24px;color: #B1B5C3;">@SharedLocalizer["Form"].Value</p>
            <p style="font-size: 16px; line-height: 24px;color: #FCFCFD;">TLP nội bộ</p>
        </div>
        <div class="d-flex justify-content-between">
            <p style="font-size: 16px; line-height: 24px;color: #B1B5C3;">@SharedLocalizer["Created Time"].Value</p>
            <p style="font-size: 16px; line-height: 24px;color: #FCFCFD;">2022-01-01 10:35:00</p>
        </div>
        <div class="d-flex justify-content-between">
            <p style="font-size: 16px; line-height: 24px;color: #B1B5C3;">
                @SharedLocalizer["Processing Time"].Value
            </p>
            <p style="font-size: 16px; line-height: 24px;color: #FCFCFD;">2022-01-01 10:35:00</p>
        </div>
    </div>
    <div class="d-flex flex-column mb-4">
        <p style="font-weight: 500; font-size: 16px; line-height: 24px; color: #FCFCFD;"> @SharedLocalizer["From"].Value</p>
        <div class="d-flex align-items-center">
            <img style="width:50px; height:50px" src="~/img/Group 1000006403@2x.png" />
            <div class="d-flex flex-column" style="margin-left: 4%;">
                <span style="font-size: 16px; line-height: 24px;color: #FCFCFD;">Camvan1511</span>
                <span style="font-weight: 500; font-size: 14px; line-height: 24px;color: #777E90;">abdskas/s,dnsod.sdjj...</span>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column mb-4">
        <p style="font-weight: 500; font-size: 16px; line-height: 24px; color: #FCFCFD;">@SharedLocalizer["To"].Value</p>
        <div class="d-flex align-items-center">
            <img style="width:50px; height:50px" src="~/img/Group 1000006403@2x.png" />
            <div class="d-flex flex-column" style="margin-left: 4%;">
                <span style="font-size: 16px; line-height: 24px;color: #FCFCFD;">Camvan1511</span>
                <span style="font-weight: 500; font-size: 14px; line-height: 24px;color: #777E90;">abdskas/s,dnsod.sdjj...</span>
            </div>
        </div>
    </div>
    <div style="background-color:#353945; border-radius:8px;padding:20px">
        <div class="d-flex justify-content-between">
            <p style="font-size: 16px; line-height: 24px;color: #B1B5C3;">@SharedLocalizer["Ratio"].Value</p>
            <p style="font-size: 16px; line-height: 24px;color: #FCFCFD;">1 : 1</p>
        </div>
        <div class="d-flex justify-content-between">
            <p style="font-size: 16px; line-height: 24px;color: #B1B5C3;">
                @SharedLocalizer["TextTransfer"].Value
            </p>
            <p style="font-size: 16px; line-height: 24px;color: #34AF39;">Free</p>
        </div>
        <div class="d-flex justify-content-between">
            <p style="font-size: 16px; line-height: 24px;color: #FCFCFD;">100 LKP</p>
            <i class="ri-exchange-fill" style="font-size:25px;"></i>
            <p style="font-size: 16px; line-height: 24px;color: #FCFCFD;">100 TLP</p>
        </div>
        <div style="border: 1px dashed #777E90;" class="mb-4"></div>
        <div class="d-flex justify-content-between">
            <p style="font-size: 16px; line-height: 24px;color: #B1B5C3;">@SharedLocalizer["Total"].Value</p>
            <p style="font-size: 16px; line-height: 24px;color: #FCFCFD;">100 LKP</p>
        </div>
    </div>
</form>

