﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<CommonResources> SharedLocalizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewData["Title"] = "TransactionHistory";
    ViewData["BodyClass"] = "HistoryTransaction";
}

<div class="w-100 h-100">
    <div class="p-8 mx-4" style="background-color:#141416; border-radius:8px">
        <div class="mb-6" style="font-weight: 600; font-size: 24px; color: #FCFCFD;">
            @SharedLocalizer["menuTransactionHistory"].Value
        </div>
        <div class="kt-portlet list-index">
            <div class="kt-portlet__body">
                <div class="kt-form kt-form--label-right">
                    <div class="row g-4">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12 col-md-9 mb-4 mb-md-0">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input id="js-filter-keyword" type="text" name="keyword" class="form-control class_search ps-12" style="background-color: #23262F; border: 1px solid #23262F;color:#fff" value="" placeholder="@SharedLocalizer["TextSeachTransactionHistory"].Value" />
                                        <span class="kt-input-icon__icon kt-input-icon__icon___left">
                                            <span style=" padding-left: 10px;"><i class="ri-search-line search___ticket" style="font-size:24px"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mb-4 mb-md-0">
                                    <select class="form-select no_border" aria-label="Select example" data-allow-clear="true" data-live-search="true" id="js-filter-type" title="Status" style="background-color: #23262F; border: 1px solid #23262F;color:#fff">
                                        <option value="" selected>Status</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="kt-portlet__body kt-portlet__body--table">
                <div class="kt-datatable scroll-x"
                     data-kt-scroll="true"
                     data-kt-scroll-height="auto"
                     data-kt-scroll-offset="100px"></div>
                <div class="view-empty">

                </div>
            </div>
        </div>
    </div>

</div>

